<form class="forgot-form form" [formGroup]="forgotPasswordForm">
    <div class="form-inputs flex-col">
        <mat-label class="outside-label bold" for="email">Email</mat-label>
        <mat-form-field appearance="outline">
            <input matInput id="email" type="email" placeholder="email@email.com" />
        </mat-form-field>
    </div>
    <div class="form-actions flex-col h-align-center">
        <button
            class="full-width"
            mat-flat-button
            color="primary"
            type="submit"
            (click)="sendRecoveryCode()">
            Send Recovery Code
        </button>
    </div>
</form>
