.team-tabs-container
    width: 100%
    padding: 0
    margin: 0
    display: flex
    align-items: center
    justify-content: center
    padding-top: 20px
    border-bottom: 1px solid #E1E6EF
    .mat-tab-link
        padding-bottom: 15px
