<form class="wrapper" [formGroup]="userForm" (ngSubmit)="OnSubmit(userForm)">
    <div class="item">
        <div class="user-avatar-block">
            <img class="user-avatar">
            <button type="button" class="upload-picture-button" mat-flat-button>Upload Picture</button>
        </div>
    </div>
    <div class="item">
        <label>
            <div>Name</div>
        </label>
        <div>
            <input type="text" formControlName="userName">
        </div>
    </div>
    <div class="item">
        <label>
            <div>Language</div>
        </label>
        <mat-select formControlName="language">
            <mat-option *ngFor="let name of languageKeys" [value]="languageKeys.indexOf(name)">
                {{languageValues[languageKeys.indexOf(name)]}}
            </mat-option>
        </mat-select>
    </div>
    <div class="item">
        <div class="input-block">
            <div>
                <label>
                    <div>Time Format</div>
                </label>
                <mat-select formControlName="timeFormat">
                    <mat-option *ngFor="let name of timeFormatKeys" [value]="timeFormatKeys.indexOf(name)">
                        {{timeFormatValues[timeFormatKeys.indexOf(name)]}}
                    </mat-option>
                </mat-select>
            </div>
            <div>
                <label>
                    <div>Date Format</div>
                </label>
                <mat-select formControlName="dateFormat">
                    <mat-option *ngFor="let name of dateFormatKeys" [value]="dateFormatKeys.indexOf(name)">
                        {{dateFormatValues[dateFormatKeys.indexOf(name)]}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
    </div>
    <div class="item">
        <label>
            <div>Country</div>
        </label>
        <mat-select formControlName="country">
            <mat-option *ngFor="let name of countryKeys" [value]="countryKeys.indexOf(name)">
                {{countryValues[countryKeys.indexOf(name)]}}
            </mat-option>
        </mat-select>
    </div>
    <div class="item">
        <label>
            <div>Phone Number</div>
        </label>
        <div>
            <input formControlName="phone">
        </div>
    </div>
    <div class="item">
        <label>Time Zone</label>
        <mat-select formControlName="timeZone">
            <mat-option *ngFor="let name of timeZoneKeys" [value]="timeZoneKeys.indexOf(name)">
                {{timeZoneValues[timeZoneKeys.indexOf(name)]}}
            </mat-option>
        </mat-select>
    </div>
    <div class="item">
        <div class="update-preferences-button">
            <button mat-flat-button type="submit">Update Preferences</button>
        </div>
    </div>
</form>

