<div class="wrapper">
    <div class="item">
        <div class="user-avatar-block">
            <img mat-card-image src="{{ imageUrl }}" class="user-avatar">
            <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)" />
            <button class="upload-picture-button" (click)="file.click()">Upload Picture</button>
        </div>
    </div>
    <form class="item">
        <label>
            <div>Name</div>
        </label>
        <div>
            <input value="Heorhii Matvichuk">
        </div>
    </form>
    <form class="item">
        <label>
            <div>Language</div>
        </label>
        <div>
            <input value="Text">
        </div>
    </form>
    <div class="item">
        <div class="input-block">
            <form>
                <label>
                    <div>Time Format</div>
                </label>
                <div>
                    <input value="24h">
                </div>
            </form>
            <form>
                <label>
                    <div>Date Format</div>
                </label>
                <div>
                    <input value="DD/MM/YYYY">
                </div>
            </form>
        </div>
    </div>
    <form class="item">
        <label>
            <div>Country</div>
        </label>
        <div>
            <input value="Text">
        </div>
    </form>
    <form class="item">
        <label>
            <div>Phone Number</div>
        </label>
        <div>
            <input value="+38 (011) 123 21 31">
        </div>
    </form>
    <form class="item">
        <label>
            <div>Time Zone</div>
        </label>
        <div>
            <input value="Eastern Europe">
        </div>
    </form>
    <div class="item">
        <div class="update-preferences-button">
            <button>Update Preferences</button>
        </div>
    </div>
</div>
