@import "src/styles/color-variables"

.container
    background-color: $athens-gray
    box-sizing: border-box
    overflow: auto
    height: 100%
    padding: 20px
    .back-btn
        margin-bottom: 20px
    .bookers-container
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(22em, 1fr))
        grid-gap: 20px
