@import "src/styles/color-variables"

.container
    background-color: $athens-gray
    box-sizing: border-box
    height: 100%
    padding: 20px
    .bookers-container
        display: flex
        gap: 20px
