<div class="confirmation-window-wrapper">
    <div class="title-container">
        <div class="mat-title-text">
            <h1 mat-dialog-title>{{ title }}</h1>
        </div>
    </div>
    <div *ngIf="message" mat-dialog-content class="message">
        {{ message }}
    </div>
    <div class="input-container">
        <input class="search-input" [(ngModel)]="enteredPassword" placeholder="Enter slot password" />
    </div>
    <hr />
    <div mat-dialog-actions class="mat-dialog-buttons">
        <button
            *ngFor="let buttonOptions of buttonsOptions"
            [ngClass]="buttonOptions.class"
            mat-flat-button
            (click)="onClick(buttonOptions.onClickEvent)">
            {{ buttonOptions.label }}
        </button>
    </div>
</div>
