.container
    width: 480px

.selection-info, .buttons-block
    display: flex
    justify-content: space-between

.deselect-wrapper
    display: flex

.bookers-wrapper
    display: flex

.selection-block
    height: 320px
    overflow-y: auto

.avatar
    width: 40px
    height: 40px
    border-radius: 50%

::ng-deep .member-wrapper
    .mat-checkbox-checked.mat-primary .mat-checkbox-background
        background-color: black !important
