@import '../../../../styles/color-variables'

.container
    width: 100%
    height: 100%
    display: flex
    flex-direction: column

.availability-slot
    display: grid
    grid-template-columns: repeat(auto-fill, 30%)
    grid-gap: 1.2em

.team-info
    display: flex
    align-items: flex-start
    margin-top: 1em
    .team-name
        color: $regent-gray
        display: flex
        flex-direction: row
        justify-content: center
        margin-top: 1em
        h3
            font-weight: bold
        .copy-icon
            width: 30px
            height: 30px
            margin-left: 0.7em
            filter: invert(94%) sepia(3%) saturate(1127%) hue-rotate(185deg) brightness(88%) contrast(86%)
