header
  position: fixed
  display: flex
  flex-direction: row
  top: 0
  left: 0
  width: 100%
  height: 68px
  z-index: 10
  background: #FFFFFF
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.08)

  .logo
    display: block
    position: absolute
    top: 0
    left: 0
    top: 26.47%
    bottom: 25%
    left: 9.03%
    right: 84.58%

    img
      width: 92px
      height: 33px
      margin-right: 50px
    
  .nav
    display: flex
    float: left
    margin-left: 20%

    .tab
      box-sizing: border-box
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      padding: 8px 12px
      width: 108px
      height: 68px
      background: #FFFFFF
      border-bottom: 2px solid #FFFFFF
      flex: none
      align-self: stretch

    a
      width: 61px
      height: 20px
      font-family: 'Inter'
      font-style: normal
      font-weight: 400
      font-size: 14px
      line-height: 20px
      align-items: center
      text-align: center
      color: #667080
      text-decoration: none
      border-radius: 3px
    
    .tab a:hover
     background-color: #F0F1F2
     border: 5px solid #F0F1F2

    .tab-active
      width: 123px
      border-bottom: 2px solid #4C7DE7

    .tab-active a
     width: 75px
     font-weight: 700
     color: #4C7DE7

    .tab-active a:hover
     background-color: #E3ECFF
     border: 5px solid #E3ECFF

  .hover-drop-icon:hover
    background-color: #F0F1F3

  .button
    float: right
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 8px 12px
    position: absolute
    width: 133px
    height: 50px
    left: 77%
    
    .label
      width: 105px
      height: 20px
      font-family: 'Inter'
      font-style: normal
      font-weight: 700
      font-size: 14px
      line-height: 20px
      display: flex
      align-items: center
      color: #667080
      flex: none
      padding-left: 5%
      cursor: pointer

      .pop-up-icon
        width: 5.98px
        height: 3.83px
        margin-right: auto
        padding-left: 15%
    
    .arrow-drop-down img
      position: absolute
      width: 20px
      height: 20px

  .dropdown
    position: relative
    margin: 0
    float: left

  .drop-icon
    background-color: white
    color: white
    padding: 10px
    border: none
    margin-left: 10px
    width: 133px
    border-radius: 4px

  .dropdown-content
    display: none
    position: absolute
    right: 0
    z-index: 15
    padding: 8px 4px
    width: 163px
    height: 140px
    background: #FFFFFF
    border: 2px solid #BEC5D0
    border-radius: 4px

  .dropdown-content a
    display: flex
    flex-direction: row
    align-items: flex-start
    padding: 4px 8px
    width: 146px
    height: 28px
    text-decoration: none

  .dropdown-content__btn
    background-color: #4C7DE7
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    border-radius: 4px

  .dropdown-content__btn span
    color: #FFFFFF

  .dropdown-content .dropdown-content__btn:hover
    background-color: #13398D

  .dropdown-content .dropdown-content__item:hover
    background-color: #F0F1F3

  .dropdown-content__label
    width: 85px
    height: 20px
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #667080
    margin: 3px 5px 2px 0px

  .dropdown-content img
    width: 16px
    height: 16px
    margin: 5px
  
  .dropdown-content:hover
    display: block

  .dropdown-icon
    margin-left: auto

  .avatar
    float: leff
    padding: 0px
    width: 100%
    padding-top: 4px

    img
      width: 30px
      height: 30px
      border: 3px solid #4C7DE7
      border-radius: 100%
      margin-left: -50%
      cursor: pointer

  @media screen and (max-width: 1150px)
   .logo img
    margin-left: -5%
   .drop-icon .label
    margin-left: -15% 
  
  @media screen and (max-width: 980px)
   .logo img
    margin-left: -10% 
   .drop-icon .label
    margin-left: -30% 

  @media screen and (max-width: 870px)
   .logo img
    margin-left: -15%  
   .drop-icon .label
    margin-left: -45%  

  @media screen and (max-width: 630px)
   .drop-icon .label
    display: none
   .drop-icon .avatar
    margin-left: -20%

