header
  display: block
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 68px
  z-index: 10
  background: #FFFFFF
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.08)

  .logo
    display: block
    position: absolute
    top: 0
    left: 0
    top: 26.47%
    bottom: 25%
    left: 9.03%
    right: 84.58%

  img
    width: 92px
    height: 33px
    margin-right: 50px
    
  .nav
    display: flex
    float: left
    margin-left: 20%

    .tab
      box-sizing: border-box
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      padding: 8px 12px
      gap: 8px
      width: 108px
      height: 68px
      background: #FFFFFF
      border-bottom: 2px solid #FFFFFF
      flex: none
      order: 0
      align-self: stretch
      flex-grow: 1

      &.active
        border-bottom: 2px solid #4C7DE7

    a
      width: 76px
      height: 20px
      font-family: 'Inter'
      font-style: normal
      font-weight: 700
      font-size: 14px
      line-height: 20px
      display: flex
      align-items: center
      text-align: center
      color: #4C7DE7
      flex: none
      order: 1
      flex-grow: 0
      text-decoration: none

    