<div class="container">
    <div id="container-item1">
        <div class="nav">
            <mat-card-content>
                <nav class="tab-panel" mat-tab-nav-bar>
                    <a mat-tab-link> TAB1 </a>
                    <a mat-tab-link> TAB2 </a>
                    <a mat-tab-link> TAB3 </a>
                </nav>
            </mat-card-content>
        </div>
    </div>

    <div id="container-item2">
        <div class="input-password">
            <mat-slide-toggle class="form-switch"></mat-slide-toggle>
            <p class="input-field">Send</p>
        </div>
    </div>

    <div id="container-item3">
        <p class="input-description">Subject</p>
        <textarea id="emailSubject" class="input-message"></textarea>
    </div>

    <div id="container-item4">
        <p class="input-description">Body</p>
        <textarea id="emailBody" class="input-message"></textarea>
    </div>
</div>
