@import '../../../../../styles/color-variables'

.input-description
    font-weight: 575
    font-size: 14px
    line-height: 20px
    color: $pale-sky
    margin-top: 20px
    margin-bottom: 2px

.container
    display: grid
    flex-flow: column
    height: 90%
    margin-left: 60px
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr
    grid-template-areas: "item1" "item2" "item3" "item4"
    resize: none
    overflow: auto

#container-item1
    grid-area: item1

#container-item2
    grid-area: item2

#container-item3
    grid-area: item3
    margin-left: 2px

#container-item4
    grid-area: item4

.form-switch
    margin-left: 5px

#emailBody
    height: 110px

.input-message
    background: $white-color
    padding-top: 0
    border: 2px solid $loblolly
    border-radius: 4px
    display: flex
    resize: none
    align-items: flex-start
    justify-content: flex-start
    width: 337px
    padding-left: 5px
    padding-top: 5px

p
    font-size: 14px
    line-height: 20px
    color: $pale-sky

.input-password
    margin-left: -5px
    display: flex
    align-items: center
    flex-direction: row
    margin-top: 10px

.input-field
    margin-left: 7px
    margin-top: 10px
