@import '../../color-variables'

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary
    background-color: $royal-blue

.mat-raised-button.mat-primary.social-google-btn
    padding: 0
    border-radius: 1px
    & .mat-button-wrapper
        display: flex

.mat-flat-button.flex-btn .mat-button-wrapper
    display: flex
