@import '../../color-variables'

.mat-tab-nav-bar .mat-tab-links .mat-tab-link
    color: $em-raven
    font-weight: 400
    padding: 0 20px
    padding-top: 20px
    min-width: auto !important
    padding-bottom: 15px
    font-family: 'Inter'
    font-style: normal
    font-size: 14px
    line-height: 20px
    background-color: $white
    .lol
        padding-top: 200px !important
    &.mat-tab-label-active
        color: $logo-color
        font-weight: 700
    &:not(:focus:not(.mat-tab-disabled))
        opacity: 1

.mat-tab-nav-bar .mat-tab-links
    justify-content: space-between

.mat-tab-nav-bar .mat-tab-links .mat-tab-link.mat-tab-label-active
    color: $logo-color

.mat-tab-nav-bar.mat-primary .mat-ink-bar
    background-color: $logo-color
