$athens-gray: #eef0f4
$white-color: #fff
$pale-sky: #687282
$alto: #d2d2d2
$regent-gray: #808896
$silver-chalice: #a7a7a7
$royal-blue: #4C7DE7
$royal-blue-light: #E6F2FC
$gallery: #eee
$mercury: #E1E1E1
$loblolly: #BEC5D0
$fiord: #465972
$cinnabar: #E25241
$fuel-yellow: #F29C38
$inch-worm: #D0DA59
$picton-blue: #52BAD1
$maroon-flush: #CF244D
$lavender: #9035AA
$black: #000000
$logo-color: #1D2433
$white: #ffffff
$light-gray: #eceef2
$dark-gray: #6e6e6e
$light-orange: #d68408
$light-green: #07be53
$red: #e61a1a
$light-blue: #E3ECFF
$dark-blue: #13398D
$zumthor: #e3ecff
$midnight: #1D2433
$pattens-blue: #D2D9DC
$nepal: #95A5AF
$solitude: #F3F5F9
$cornflower-blue: #4796EC
$apple: #65AC5B

$black-1-intense: rgba(0, 0, 0, 0.04)
$black-2-intense: rgba(0, 0, 0, 0.2)
$black-3-intense: rgba(0, 0, 0, 0.14)
$black-4-intense: rgba(0, 0, 0, 0.12)
$black-5-intense: rgba(0, 0, 0, 0.87)

$em-black: #1D2433
$em-ghost-white: #F8F9FC
$em-solitude: #F1F3F9
$em-solitude-dark: #E1E6EF
$em-pattens-blue: #D1D8DB
$em-nepal: #94A4AD
$em-raven: #6C707A
$em-bright-grey: #4A505C
