/* Add styles for Angular Material components here */

/* Example */
/* Change the color of bar under active tab in mat-tab-group */
/*
 *.mat-tab-group.mat-primary .mat-ink-bar
 *    background-color: red
 */
.mat-menu-panel
    border: 1px solid var(--pale-sky)
    height: 200px
    display: flex
    justify-content: center

.mat-menu-panel .mat-menu-item
    padding-left: 5px
    display: flex
    flex-direction: row
    align-items: center
    font-size: 1em
    color: var(--pale-sky)
    height: 30px
    width: 150px

.mat-menu-panel .mat-menu-item i
    margin: 0.5em
