::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track, ::-webkit-scrollbar-button, ::-webkit-scrollbar
  -webkit-border-radius: 6px
  background-color: rgba($royal-blue-light,0.3)

::-webkit-scrollbar
  width: 8px
  height: 8px

::-webkit-scrollbar-thumb
  background: rgba($loblolly,0.7)

::-webkit-scrollbar-button
  display: block
  height: 100%
