@import '../../../styles/color-variables'

p,
mat-label,
.social-google-btn
    color: $dark-gray

.bold
    font-weight: 700

.flex-col
    display: flex
    flex-direction: column

.h-align-center
    align-items: center

.outside-label
    margin-bottom: 4px

.form-inputs
    margin-bottom: 20px

.form-actions
    & > *:not(:last-child)
        margin-bottom: 12px

.full-width
    width: 100%

.form
    padding: 30px 0

.font-large
    font-size: 25px
