@import '../../../styles/color-variables'

p,
mat-label
    color: $dark-gray

.social-google-btn
    .btn-icon
        border: 1px solid $royal-blue
        padding: 0.357143em
        line-height: normal
        background-color: white
        .mat-icon
            vertical-align: middle
            scale: 0.65
    .btn-content
        margin: 0 1em

.bold
    font-weight: 700

.flex-col
    display: flex
    flex-direction: column

.h-align-center
    align-items: center

.outside-label
    margin-bottom: 4px

.form-inputs
    margin-bottom: 20px

.form-actions
    & > *:not(:last-child)
        margin-bottom: 12px

.full-width
    width: 100%

.form
    padding: 30px 0

.font-large
    font-size: 25px
