<mat-card class="card-container">
    <div class="slot-content">
        <div class="slot-header">
            <p>Availability slots for</p>
            <mat-slide-toggle></mat-slide-toggle>
        </div>
        <div class="time-options">
            <p>30 min meeting</p>
        </div>
        <div class="meeting-details">
            <p>30 min meeting, Heorhii Matviichuk, Meet</p>
            <mat-list class="avatar-list">
                <mat-list-item><img src="assets/bulochka.PNG" class="avatar" /></mat-list-item>
                <mat-list-item><img src="assets/bulochka.PNG" class="avatar" /></mat-list-item>
            </mat-list>
        </div>
        <hr />
        <div class="link">
            <img src="assets/copy_icon.png" class="copy-icon" />
            <a href="#">Link.com/heorhii</a>
        </div>
    </div>
</mat-card>
