@import '../../../../styles/color-variables'
@import '../../../../styles/screen-variables'

.card-container-disabled
    opacity: 0.7

.card-container
    background-color: $white-color
    padding: 1.5em 1.5em 0.8em 1.5em
    .slot-content
        display: flex
        flex-direction: column
        justify-content: center
        .slot-header
            height: 10%
            display: flex
            align-items: center
            justify-content: space-between
            p
                font-family: 'Inter'
                font-style: normal
                font-weight: 400
                font-size: 12px
                line-height: 136%
                color: $raven
            .drop-down-menu
                margin-top: -10px
                .menu-icon
                    color: $raven
                    outline: none
                    border: none
                    background-color: $white-color
                    cursor: pointer
                    width: 18px
                    height: 18px

.color-line
    height: 28%
    max-width: 4px
    border-left: 4px solid var(--slotLineColor)
    position: absolute
    border-radius: 5px
    margin-top: -66px

.time-options
    height: 10%
    max-width: 15vw
    margin-left: 6%
    div
        display: flex
        align-items: center
        justify-content: flex-start
        min-height: 5vh
        min-width: 10vw
        @media screen and (max-width: $tablet-min-width)
            min-width: 30vw
    p
        margin: 0
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        font-family: 'Inter'
        font-style: normal
        font-weight: 900
        font-size: 22px
        line-height: 146%
        color: $midnight
    i
        margin-left: 0.7em
        filter: invert(94%) sepia(3%) saturate(1127%) hue-rotate(185deg) brightness(88%) contrast(86%)

.options
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 0.8em
    margin: 1em 0 0 0
    .link
        display: flex
        align-items: center
        a
            text-decoration-line: underline
            text-transform: lowercase
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 14px
            line-height: 20px
            color: $raven
        .icon
            width: 18px
            height: 18px
            margin-right: 0.7em
            filter: invert(41%) sepia(100%) saturate(43%) hue-rotate(184deg) brightness(86%) contrast(83%)
    .toggle
        height: 29px

.meeting-details
    display: flex
    flex-direction: column
    margin-left: 6%
    p
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 146%
        color: $raven
    .avatar
        width: 30px
        height: 30px
        border-radius: 20px
        margin-right: 0.8em

.avatar-list
    display: flex
    align-items: center
    margin-left: -8%

::ng-deep .card-container.mat-card
    margin-left: auto
    width: 80%
    border-radius: 32px
    border: 1px solid $solitude
    box-shadow: 0px 10px 20px 1px $solitude

::ng-deep .active-card-container.mat-card
    box-shadow: 0px 10px 20px 1px var(--slotShadowColor)

a
    cursor: pointer
