hr
    border: 0
    border-top: 1px solid #eef0f4
li
    list-style: none

.card-container
    height: 160px
    background-color: #fff
    padding: 1em

.slot-content
    display: flex
    flex-direction: column
    justify-content: center

.slot-header
    height: 10%
    display: flex
    align-items: center
    justify-content: space-between
    p
        font-size: 0.8em
        color: #d2d2d2

.time-options
    height: 10%
    display: flex
    align-items: flex-start
    justify-content: flex-start
    p
        font-size: 1.2em
        font-weight: bold
        color: #687282

.link
    display: flex
    align-items: flex-end
    font-size: 0.8em
    a
        color: #808896
    .copy-icon
        width: 20px
        height: 20px
        margin-right: 0.7em

.meeting-details
    display: flex
    flex-direction: column
    p
        color: #a7a7a7
    .avatar
        width: 30px
        height: 30px
        border-radius: 20px

.avatar-list
    display: grid
    grid-gap: 0.1em
    grid-auto-flow: column
