<mat-card class="card-container">
    <div class="slot-content">
        <p>Availability slots for</p>
        <mat-slide-toggle></mat-slide-toggle>
    </div>
    <div><p>30 min meeting</p></div>
    <div class="meeting-details">
        <p>30 min meeting, Heorhii Matviichuk, Meet</p>
        <img src="assets/bulochka.PNG" class="avatar" />
    </div>
    <hr />
    <div class="link">
        <img src="assets/copy_icon.png" class="copy-icon" />
        <a href="#">Link.com/heorhii</a>
    </div>
</mat-card>
