@import '../../../../styles/color-variables'

.cell
    display: flex
    align-items: center
    justify-content: center
    position: relative
    &> :first-child
        width: 36px
        height: 36px
        font-style: normal
        font-weight: 700
        font-size: 14px
        line-height: 146%
        color: $raven
        position: static
        display: flex
        align-items: center
        justify-content: center

.ordinary> :first-child
    border-radius: 8px
    border: none !important
    background: #F1F3F9

.mat-calendar-body-today
    box-shadow: none !important

.today-line
    position: absolute
    width: 16px
    height: 2px
    left: 10px
    top: 29px
    background: #4A505C
    border-radius: 1px
    display: block

.mat-calendar-body-selected
    background: $midnight !important
    color: $white-color !important

.mat-calendar-body-label
    &:not(:last-of-type)
        visibility: hidden
    &:last-of-type
        display: none

.mat-calendar-table-header-divider
    visibility: hidden
