<div class="container">
    <div class="header">
        <img src="assets/header/header-logo.png" />
    </div>
    <div class="main-content">
        <div class="sidebar">
            <img src="{{ selectedUser.image }}" />
            <h3>{{ selectedUser.userName }}</h3>
            <h1>Booking Page</h1>
            <h4>Hello! Welcome to my booking page, please choose a time that works for you.</h4>
        </div>
        <div class="choice">
            <h1>Please, choose meeting</h1>
            <mat-card routerLink="#">
                <mat-card-title>30 Min Meeting</mat-card-title>
                <mat-card-subtitle>30 Min, Meet</mat-card-subtitle>
            </mat-card>
            <mat-card routerLink="#">
                <mat-card-title>1 Hour Meeting</mat-card-title>
                <mat-card-subtitle>1 Hour, Meet</mat-card-subtitle>
            </mat-card>
            <mat-card routerLink="#">
                <mat-card-title>15 Min Meeting</mat-card-title>
                <mat-card-subtitle>15 Min, Meet</mat-card-subtitle>
            </mat-card>
        </div>
    </div>
</div>
