@import '../../../../styles/color-variables'
@import '../../../../styles/screen-variables'

*
    box-sizing: border-box

.container
    display: flex
    flex-direction: column
    justify-items: center
    background-color: $athens-gray
    height: 100%
    width: 100%
    padding: 0 10% 5% 10%
    @media screen and (max-width: $tablet-min-width)
        padding: 0 5% 2% 5%

.header
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 20px 0
    height: 72px
    img
        width: 90px

.main-content
    display: flex
    flex-direction: row
    justify-content: center
    padding: 0 20px
    background-color: $white
    height: calc(100% - 72px)
    @media screen and (max-width: $desktop-min-width)
        flex-direction: column
    .sidebar
        width: 25%
        @media screen and (max-width: $desktop-min-width)
            width: 100%
            border-right: none
            border-bottom: 2px solid $athens-gray
    .choice
        width: 75%
        height: 100%
        overflow: auto
        @media screen and (max-width: $desktop-min-width)
            width: 100%

.sidebar
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-start
    border-right: 2px solid $athens-gray
    padding: 30px 30px 0px 30px
    gap: 15px
    img
        height: 78px
        width: 78px
        border-radius: 100%
        margin-bottom: 20px
    .team-img
        border-radius: 0
        width: 130px
        height: 50px
    .sidebar-list
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: 15px
        @media screen and (max-width: $desktop-min-width)
            width: 100%
            flex-direction: row
            .sidebar-list-item
                margin-right: 5%
        .sidebar-list-item
            width: 100%
            img
                width: 31px
                height: 31px
                margin-left: 0
            .selected-member
                width: 100%
                display: flex
                .selected-member-name
                    display: flex
                    width: 120px
                    margin-top: 5px
                    padding-left: 5px
                .selected-member-img
                    display: inline
                    float: left
    .welcome-message
        @media screen and (max-width: $desktop-min-width)
            display: none

.choice
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 30px 23px
    app-external-booking-choose-meeting-page
        width: 100%

h1, h2, h3, h4, h5
    font-family: 'Inter'
    font-style: normal
    line-height: 20px
    color: $pale-sky

h5
    font-weight: 400
    font-size: 12px

h3
    font-weight: 700
    font-size: 14px

h2, h4
    font-weight: 400
    font-size: 14px

h1
    font-weight: 700
    font-size: 20px
