<div class="container">
    <div class="header">
        <img src="assets/header/header-logo.png" />
    </div>
    <div class="main-content">
        <div class="sidebar">
            <img *ngIf="menu.user; else defaultImage" src="{{ menu.user.image }}" />
            <ng-template #defaultImage>
                <img src="assets/bulochka.PNG" />
            </ng-template>
            <h2>{{ menu.user.userName }}</h2>
            <h1>Booking Page</h1>
            <h4 class="welcome-message">Hello! Welcome to my booking page, please choose a time that works for you.</h4>
            <div class="sidebar-list">
                <div class="sidebar-list-item">
                    <ng-container *ngIf="menu.timeStart && menu.timeFinish">
                        <h5>Time</h5>
                        <h3>{{ menu.timeStart }} {{ menu.timeFinish }}</h3>
                    </ng-container>
                </div>
                <div class="sidebar-list-item">
                    <ng-container *ngIf="menu.date">
                        <h5 *ngIf="menu.date">Date</h5>
                        <h3>{{ menu.date }}</h3>
                    </ng-container>
                </div>
                <div class="sidebar-list-item">
                    <ng-container *ngIf="menu.duration">
                        <h5>Duration</h5>
                        <h3>{{ menu.duration }} min</h3>
                    </ng-container>
                </div>
                <div class="sidebar-list-item">
                    <ng-container *ngIf="menu.location">
                        <h5>Location</h5>
                        <h3>{{ LocationTypeToLabelMapping[menu.location] }}</h3>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="choice">
            <app-external-booking-choose-meeting-page
                *ngIf="this.router.url === '/external-booking/choose-meeting'"
                [selectedUserId]="this.menu.user.id"
                (selectedDurationAndLocationEvent)="addDurationAndLocationInMenu($event)">
            </app-external-booking-choose-meeting-page>
            <app-external-booking-choose-time-page *ngIf="isBookingChooseTimeRoute()">
            </app-external-booking-choose-time-page>
        </div>
    </div>
</div>
