<div class="container">
    <div class="header">
        <img src="assets/header/header-logo.png" />
    </div>
    <div class="main-content">
        <div class="sidebar">
            <img *ngIf="menu.user; else defaultImage" src="{{ menu.user.image }}" />
            <ng-template #defaultImage>
                <img src="assets/bulochka.PNG" />
            </ng-template>
            <h3>{{ menu.user.userName }}</h3>
            <h1>Booking Page</h1>
            <h4>Hello! Welcome to my booking page, please choose a time that works for you.</h4>
            <h5 *ngIf="menu.timeStart && menu.timeFinish">Time</h5>
            <h4>{{ menu.timeStart }} {{ menu.timeFinish }}</h4>
            <h5 *ngIf="menu.date">Date</h5>
            <h4>{{ menu.date }}</h4>
            <h5 *ngIf="menu.duration">Duration</h5>
            <h4>{{ menu.duration }}</h4>
            <h5 *ngIf="menu.location">Location</h5>
            <h4>{{ menu.location }}</h4>
        </div>
        <div class="choice">
            <app-external-booking-choose-meeting-page
                *ngIf="this.router.url === '/external-booking/choose-meeting'"
                [selectedUserId]="selectedUserId">
            </app-external-booking-choose-meeting-page>
            <app-external-booking-choose-time-page *ngIf="this.router.url === '/external-booking/choose-time'">
            </app-external-booking-choose-time-page>
        </div>
    </div>
</div>
