<div class="container">
    <div class="exclusion-wrapper">
        <p class="title">Answers of {{ booker.name }}</p>
        <div class="flex bottom">
            <div class="flex-col">
                <p>Booking</p>
                <span class="info">{{ booker.meetingName }}</span>
            </div>
            <div class="flex-col">
                <p>Date</p>
                <span class="info">{{ booker.meetingDate | date }}</span>
            </div>
            <div class="flex-col">
                <p>Time</p>
                <span class="info">
                    {{ booker.meetingDate | date: 'HH:mm' }} - {{ endMeetingTime | date: 'HH:mm' }}
                </span>
            </div>
        </div>
        <div class="flex questions-wrapper">
            <form form #externalAnswers="ngForm">
                <ng-container *ngFor="let question of data.questions; let i = index">
                    <div class="question">
                        <mat-label class="question-order bold">{{ i + 1 }}.</mat-label>
                        <div class="question-answer">
                            <mat-label class="bold">{{ question.questionText }}</mat-label>
                            <div class="question-mandatory list-item-wrapper flex cross-axis-center">
                                {{question.answer}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </form>
        </div>
        <div class="buttons-wrapper">
            <button class="cancel" (click)="clickCancel()">Cancel</button>
            <button class="apply" (click)="clickApply()" [disabled]="!externalAnswers.valid">Apply</button>
        </div>
    </div>
</div>
