.example-header
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: row
    padding: 0.5em

    .example-header-label
        height: 1em
        font-weight: 500
        width: 35%
        text-align: left

    .example-double-arrow .mat-icon
        margin: -22%
