.custom-header
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: row
    padding: 0.5em
    .custom-header-label
        height: 1em
        font-weight: 500
        width: 35%
        text-align: left
