<header class="main-header">
    <div class="header-wrapper">
        <img class="logo" src="assets/header/header-logo.svg" alt="header-logo" />
        <nav class="tab-panel" mat-tab-nav-bar>
            <a
                mat-tab-link
                class="link-btn"
                *ngFor="let link of navLinks"
                [routerLink]="link.path"
                routerLinkActive
                #rla="routerLinkActive"
                [active]="rla.isActive">
                {{ link.label }}
            </a>
        </nav>

        <button class="menu-team-btn" mat-button [matMenuTriggerFor]="menuTeam" *ngIf="teams.length; else newTeam">
            <label>{{ currentTeam?.name ?? '' }}</label>
            <img src="assets/icons/angle-down.svg" alt="angle-down" />
        </button>
        <ng-template #newTeam>
            <button class="menu-team-btn" mat-button routerLink="/settings/teams/new">
                <i class="fa-solid fa-plus"></i>
                <span> New Team</span>
            </button>
        </ng-template>
        <mat-menu #menuTeam="matMenu" xPosition="before">
            <div class="menu-team-content">
                <button mat-menu-item routerLink="#" *ngFor="let team of teams" (click)="changeTeam(team.id)">
                    <i class="fa-solid fa-people-group"></i>
                    <span class="team-name">{{ team.name }}</span>
                </button>
                <button class="mat-menu-btn" mat-menu-item routerLink="/settings/teams/new">
                    <i class="fa-solid fa-plus"></i>
                    <span>New Team</span>
                </button>
            </div>
        </mat-menu>
        <button class="avatar-btn" mat-icon-button [matMenuTriggerFor]="menuAvatar" disableRipple="true">
            <div class="avatar">
                <div class="avatar-container">
                    <ng-container *ngIf="currentUserImage; else noCurrentUserImage">
                        <img src="{{ currentUserImage }}" />
                    </ng-container>
                    <ng-template #noCurrentUserImage>
                        <img src="assets/header/avatar-icon.png" />
                    </ng-template>
                </div>
            </div>
        </button>
        <mat-menu #menuAvatar="matMenu">
            <button mat-menu-item routerLink="/settings">
                <i class="fa-solid fa-user"></i>
                <span>Account</span>
            </button>
            <button mat-menu-item routerLink="#">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <span>Integrations</span>
            </button>
            <button mat-menu-item (click)="navigateToTeam()">
                <i class="fa-solid fa-people-group"></i>
                <span>Team</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</header>
