@import 'src/styles/color-variables'
@import 'src/styles/material'
@import 'src/styles/screen-variables'

header
    position: fixed
    display: flex
    flex-direction: row
    top: 0
    left: 0
    width: 100%
    height: 68px
    z-index: 10
    background: $white
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.08)

.logo
    display: flex
    justify-content: flex-start
    position: absolute
    top: 0
    left: 0
    top: 26.47%
    bottom: 25%
    left: 7.8%
    right: 84.58%

    img
        width: 92px
        height: 33px
        margin-right: 10%

.nav
    display: flex
    justify-content: flex-start
    float: left
    margin-left: 20%

    .tab
        box-sizing: border-box
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        padding: 8px 12px
        width: 50%
        height: 68px
        background: $white
        border-bottom: 2px solid $white
        flex: none
        align-self: stretch

    a
        width: 100%
        height: 20px
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 20px
        align-items: center
        text-align: center
        color: $dark-gray
        text-decoration: none
        border-radius: 3px

    .tab a:hover
        background-color: $athens-gray
        border: 5px solid $athens-gray
        cursor: pointer

    .tab-active
        width: 100px
        border-bottom: 2px solid $royal-blue

    .tab-active a
        width: 100px
        font-weight: 700
        color: $royal-blue

    .tab-active a:hover
        background-color: $light-blue
        border: 5px solid $light-blue

.menu-team-btn
    display: flex
    justify-content: flex-end
    margin-top: auto
    margin-bottom: auto

.avatar
    display: flex
    justify-content: center
    align-items: center
    margin-left: 35%
    width: 100%
    height: 40px

    img
        width: 30px
        height: 30px
        border: 3px solid $royal-blue
        border-radius: 50%
        background-color: $zumthor
        cursor: pointer

label:hover
    cursor: pointer

::ng-deep .mat-menu-panel
    height: 140px

::ng-deep .mat-icon-button
    height: 100% !important
    margin-left: 5% !important
    margin-right: 10% !important

::ng-deep .mat-button
    margin-left: auto !important
    margin-right: -5% !important

@media screen and ($desktop-min-width)
.logo img
    margin-left: -10%

@media screen and ($tablet-min-width)
.logo img
    margin-left: -25%

@media screen and ($phone-min-width)
.logo img
    margin-left: -50%
