@import 'src/styles/color-variables'
@import 'src/styles/screen-variables'

header
    position: sticky
    display: flex
    flex-direction: row
    top: 0
    left: 0
    width: 100%
    height: 68px
    z-index: 10
    background: $white
    .header-wrapper
        width: 100%
        box-sizing: border-box
        border-bottom: 1px solid $em-solitude-dark
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between

    .logo
        width: 176px
        height: 30px
        left: 0
        margin-right: 2%
        margin-left: 2%

.tab-panel
    height: 100%
    display: flex
    justify-content: flex-start
    float: left
    margin-left: 10px

.group-button
    border-color: $em-nepal
    color: $em-raven
    line-height: normal
    &:hover
        background-color: $em-ghost-white
    ::ng-deep .mat-button-wrapper
        display: flex
        align-items: center
        justify-content: center

.link-btn
    justify-content: center
    height: 35px

::ng-deep .tab-panel.mat-tab-nav-bar .mat-tab-links .mat-tab-link
    padding: 0 15px 0 15px
    margin-top: 10%
    &:hover
        background-color: $light-gray
        border-radius: 5px

.menu-team-btn
    display: flex
    justify-content: flex-end

    img
        width: 12px
        height: 6px
        margin-right: 20px

.avatar
    .avatar-container
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        width: 40px
        height: 40px
        clip-path: circle()
        overflow: clip
        background-color: $zumthor
        img
            object-fit: cover
            width: 100%
            height: 100%

label:hover
    cursor: pointer

.mat-icon-button
    margin-right: 2%

.mat-button
    margin-left: auto

.team-name, label
    overflow: hidden
    text-overflow: ellipsis

label
    max-width: 150px
    display: inline-block

.menu-team-content
    padding: 0 5px
