@import '../../../../styles/color-variables'
@import '../../../../styles/screen-variables'

.wrapper
    min-height: 100%
    background-color: $athens-gray

.container
    display: flex
    flex-direction: column
    justify-items: center
    padding: 0 100px 40px 100px
    @media screen and ( max-width: $tablet-min-width  )
        padding: 0 30px 40px 30px

.user-settings-header
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    padding: 20px 0
    p
        margin: 0 25px 0 0
    .user-settings-header-label
        font-size: 20px
        font-weight: bold
        color: $dark-gray
    .slot-button-container
        margin-left: auto
        display: flex
        gap: 20px
        @media screen and (max-width: 700px)
            width: 100%
            margin-left: 0
        button
            @media screen and (max-width: $tablet-min-width)
                line-height: 20px
                @media screen and (max-width: 700px)
                    width: 50%

.main-content
    min-height: 80vh
    background-color: $white
    display: flex
    flex-direction: row
    justify-content: center
    padding: 0 20px
    @media screen and ( max-width: $desktop-min-width  )
        flex-direction: column
    .sidebar
        width: 25%
        @media screen and ( max-width: $desktop-min-width  )
            width: 100%
    .menu-item-container
        width: 75%
        padding: 20px 0
        @media screen and ( max-width: $desktop-min-width  )
            width: 100%

.sidebar
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-start
    border-right: 2px solid $athens-gray
    width: 100%
    margin: 0 10px
    padding-bottom: 80px
    @media screen and ( max-width: $desktop-min-width  )
        border-right: none

.side-menu-wrapper
    width: 100%

.icon
    font-size: 28px

button
    border-radius: 24px
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 14px
    align-items: center

::ng-deep .save-activate-button.mat-flat-button
    color: $white
    background: $midnight
