<div class="wrapper">
    <app-header-item></app-header-item>
    <div class="container">
        <div class="user-settings-header">
            <p class="user-settings-header-label">Settings</p>
            <div class="slot-button-container">
                <button mat-flat-button type="button" color="primary" class="save-activate-button" [disabled]="!isUpdateButtonActive" (click)="settingPageService.updateButtonClick()">
                    Update Preferences
                </button>
            </div>
        </div>
        <div class="main-content">
            <div class="sidebar">
                <div class="side-menu-wrapper">
                    <app-side-menu [groups]="sideMenuGroups"></app-side-menu>
                </div>
            </div>
            <div class="menu-item-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
