<app-header-item></app-header-item>
<div class="settings container">
    <div class="settings-header flex align-items-center justify-content-between">
        <p class="title">Settings</p>
        <button mat-flat-button class="update-btn" color="primary">
            Update Preferences
        </button>
    </div>
    <div class="settings-content flex">
        <div class="sidebar flex-col justify-content-between">
            <app-side-menu class="sidebar-nav-list" [groups]="sideMenuGroups"></app-side-menu>
        </div>
        <div class="menu-item-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
