.title
  font-weight: 700
  font-size: 14px
  line-height: 20px
  color: #667080

.textAreaMessage
  background: #FFFFFF
  padding-top: 0
  border: 2px solid #BEC5D0
  border-radius: 4px
  height: 136px
  display: flex
  align-items: flex-start
  justify-content: flex-start
  width: 337px

.selectBlock
  width: 337px
  height: 36px
  background: #FFFFFF
  border: 2px solid #BEC5D0
  border-radius: 4px

.checkRowContainer
  display: flex
  flex-direction: row
  align-items: center
  gap: 14px

  p
    font-size: 14px
    line-height: 20px
    color: #667080

.example-radio-group
  display: flex
  flex-direction: column
  margin: 15px 0
  align-items: flex-start


.example-radio-button
  margin: 5px

