<div class="container">
    <div class="input-container">
        <p class="input-description">Link</p>
        <div class="input-block">
            <div class="input-start">
                <p class="productName">productname.com/</p>
            </div>
            <input class="input-item" [(ngModel)]="linkChoice" />
        </div>
    </div>

    <div class="input-container">
        <p class="input-description">Welcome Message</p>
        <textarea class="input-message" [(ngModel)]="welcomeMessage"></textarea>
    </div>

    <div class="input-container">
        <p class="input-description">Language</p>
        <select [(ngModel)]="langChoice" name="langChoice">
            <option *ngFor="let langChoice of languages" [value]="langChoice">{{ langChoice }}</option>
        </select>
    </div>

    <div class="input-container">
        <p class="input-description">Allowed bookings per Day</p>
        <select name="select" class="selectBlock" [(ngModel)]="allowBookingSelect">
            <option value="one">1</option>
            <option value="two" selected>2</option>
            <option value="three">3</option>
        </select>
    </div>

    <div class="input-container">
        <div class="input-checkbox">
            <input type="checkbox" [(ngModel)]="isAllowBooker" [disabled]="!basicChoice" />
            <span class="input-description checkbox-text"><p>Allow Booker to add additional guests</p></span>
        </div>
    </div>

    <div class="input-container">
        <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="zoneChoice"
        >
            <mat-radio-button
                disableRipple
                class="example-radio-button"
                *ngFor="let season of timeZoneChoices"
                [value]="season"
            >
                {{ season }}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="input-container">
        <div class="input-password">
            <label class="form-switch"> <input type="checkbox" [(ngModel)]="passwordProtect" /> <i></i> </label>
            <p class="input-field">Password protection</p>
        </div>
        <input class="selectBlock" [(ngModel)]="passwordInput" />
    </div>
</div>
