@import '../../../../../styles/color-variables'

.title
  font-weight: 700
  font-size: 14px
  line-height: 20px
  color: #667080

.textAreaMessage
  background: #FFFFFF
  padding-top: 0
  border: 2px solid #BEC5D0
  border-radius: 4px
  height: 136px
  display: flex
  align-items: flex-start
  justify-content: flex-start
  width: 337px

.selectBlock
  width: 337px
  height: 36px
  background: #FFFFFF
  border: 2px solid #BEC5D0
  border-radius: 4px

.checkbox-container
  display: flex
  flex-direction: row
  align-items: center
  gap: 14px

  p
    font-size: 14px
    line-height: 20px
    color: #667080

.example-radio-group
  display: flex
  flex-direction: column
  margin: 15px 0
  align-items: flex-start

.selectBlock
    margin-left: 5px

.example-radio-button
  margin: 5px

.passwordContainer
    margin-left: -5px
    display: flex
    align-items: center
    flex-direction: row

.passwordProtect
    margin-left: 5px

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle
    border-color: $royal-blue

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle
    color: $royal-blue
    background-color: $royal-blue
