<div class="container">
    <div id="container-item1">
        <p class="input-description">Link</p>
        <div class="inputBlock">
            <div class="inputStartBlock">
                <p class="productName">{{appDomain}}</p>
            </div>
            <input class="inputItem" [(ngModel)]="settings.link" (change)="onLinkChange()"/>
        </div>
    </div>

    <div id="container-item2">
        <p class="input-description">Welcome Message</p>
        <textarea id="welcomeMessage" class="input-message" [(ngModel)]="settings.welcomeMessage"></textarea>
    </div>

    <div id="container-item3">
        <p class="input-description">Language</p>
        <select name="select" class="selectBlock" [(ngModel)]="settings.language">
            <option selected *ngFor="let languageSelect of languages" [value]="languageSelect">
                {{ languageSelect }}
            </option>
        </select>
    </div>

    <div id="container-item4">
        <p class="input-description">Allowed bookings per Day</p>
        <select name="select" class="selectBlock" [(ngModel)]="settings.bookingsPerDay">
            <option selected *ngFor="let allowBookingSelect of allowedBooking" [value]="allowBookingSelect">
                {{ allowBookingSelect }}
            </option>
        </select>
    </div>

    <div id="container-item5">
        <div class="input-checkbox">
            <input
                type="checkbox"
                style="transform: scale(1.25)"
                [(ngModel)]="settings.allowToAddGuests"/>
            <span class="input-description checkbox-text"><p>Allow Booker to add additional guests</p></span>
        </div>
    </div>

    <div id="container-item6">
        <div class="input-button-matgroup">
            <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [(ngModel)]="settings.timeZoneVisibility">
                <mat-radio-button
                    disableRipple
                    class="example-radio-button"
                    *ngFor="let season of timeZoneChoices"
                    [value]="season.value">
                    {{ season.text }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div id="container-item7">
        <div class="input-password">
            <mat-slide-toggle class="form-switch" [(ngModel)]="this.settings.passwordProtectionIsUsed"></mat-slide-toggle>
            <p class="input-field">Password protection</p>
        </div>
        <input class="selectBlock" [(ngModel)]="settings.passwordProtection" />
    </div>
</div>
