@import "../../../../../styles/color-variables"

.wrapper
    color: $dark-gray
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 400px
    gap: 30px
    padding: 50px

.user-avatar-block
    width: 100%
    display: flex
    align-items: center
    justify-content: space-around

input, .mat-select
    margin-top: 5px
    color: $dark-gray
    font-size: 15px
    padding: 0 10px
    background: $white
    border: 2px solid $light-gray
    border-radius: 4px
    height: 30px
    align-self: stretch
    min-width: 100%

.item
    width: 100%

    .input-block
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        gap: 50px

        input, .mat-select
            width: 150px

.user-avatar
    background-color: $light-gray
    border-radius: 50%
    width: 100px
    height: 100px

.upload-picture-button
    background-color: white

.update-preferences-button
    margin-top: 50px
    display: flex
    justify-content: center

button
    color: $dark-gray
    font-weight: 600
    box-shadow: none
    background-color: $light-gray
    border: 2px solid $light-gray
    border-radius: 5px
    font-size: 20px
    padding: 5px 15px

label
    font-weight: 600

::ng-deep .item
    .mat-select
        align-items: center
        display: flex

    .mat-select-value
        color: $dark-gray
        font-size: 15px

input
    &:focus
        &.ng-invalid
            border-color: 2px solid $cinnabar
            outline: $cinnabar

    &.ng-invalid
        border: 2px solid $cinnabar
        outline: $cinnabar

input
    &:focus
        &.ng-valid
            outline: $royal-blue
            border-color: $royal-blue


small
    color: $cinnabar
