<app-team-tabs-menu> </app-team-tabs-menu>
<div class="wrapper">
    <form class="form-wrapper" [formGroup]="formGroup" (ngSubmit)="submitClick.emit()">
        <div class="item">
            <div class="logo-block">
                <div class="logo">
                    <img *ngIf="imageUrl" src="{{ imageUrl }}" />
                </div>
                <input
                    enctype="multipart/form-data"
                    method="put"
                    hidden
                    #file
                    accept="image/png,.gif,.jpg"
                    type="file"
                    (change)="loadImage($event)" />
                <button type="button" class="white-button" mat-flat-button (click)="file.click()">Upload Logo</button>
            </div>
        </div>
        <div class="item">
            <label>
                <div>Team Name</div>
            </label>
            <div><input type="text" formControlName="name" (input)="generateNewPageLink(formGroup)" / /></div>
            <div *ngIf="nameControl.invalid && nameControl.touched" class="validation">
                <small *ngIf="nameControl.errors?.['required']">This field is required.</small>
                <small *ngIf="nameControl.errors?.['minlength']">Length must be more than 2 characters.</small>
                <small *ngIf="nameControl.errors?.['maxlength']">Length must be less than 50 characters.</small>
                <small *ngIf="nameControl.errors?.['pattern']">Invalid characters.</small>
            </div>
        </div>
        <div class="item">
            <label>
                <div>Team Page Link</div>
            </label>
            <div><input type="text" formControlName="pageLink" / /></div>
            <div *ngIf="pageLinkControl.invalid && nameControl.touched" class="validation">
                <small *ngIf="pageLinkControl.errors?.['required']">This field is required.</small>
                <small *ngIf="pageLinkControl.errors?.['teamLinkUniq']">Team page link must be unique.</small>
            </div>
        </div>
        <div class="item">
            <label>Time Zone</label>
            <ng-moment-timezone-picker
                [formControlName]="'timeZone'"
                customPlaceholderText=""
                [getUserZone]="!team?.timeZone">
            </ng-moment-timezone-picker>
        </div>
        <div class="item">
            <label>
                <div>Description</div>
            </label>
            <div>
                <textarea class="text-area-class" formControlName="description"></textarea>
            </div>
            <div *ngIf="descriptionControl.invalid && descriptionControl.touched" class="validation">
                <small *ngIf="descriptionControl.errors?.['required']">This field is required.</small>
                <small *ngIf="descriptionControl.errors?.['minlength']">Length must be more than 2 characters.</small>
                <small *ngIf="descriptionControl.errors?.['maxlength']">
                    The field “Description” must not exceed 80 characters.
                </small>
                <small *ngIf="descriptionControl.errors?.['pattern']">Invalid characters.</small>
            </div>
        </div>
        <div class="item">
            <div class="buttons-block">
                <button
                    mat-flat-button
                    class="white-button"
                    type="button"
                    (click)="deleteClick.emit(formGroup)"
                    *ngIf="showDeleteButton">
                    <mat-icon class="icon">delete_outline</mat-icon>
                    Delete Team
                </button>
                <button mat-flat-button type="submit" [disabled]="formGroup.invalid || !formGroup.touched">
                    {{ submitButtonText }}
                </button>
            </div>
        </div>
    </form>
</div>
