<div class="wrapper">
    <form class="form-wrapper" [formGroup]="formGroup" (ngSubmit)="OnSubmit(formGroup)">
        <div class="item">
            <div class="logo-block">
                <div class="logo">
                </div>
                <button type="button" class="white-button" mat-flat-button>Upload Logo</button>
            </div>
        </div>
        <div class="item">
            <label>
                <div>Team Name</div>
            </label>
            <div>
                <input type="text" formControlName="name" (change)="generateNewPageLink(formGroup)">
            </div>
            <div *ngIf="nameControl.invalid && nameControl.touched" class="validation">
                <small *ngIf="nameControl.errors?.['required']">This field is required.</small>
                <small *ngIf="nameControl.errors?.['minlength']">Length must be more than 2 characters.</small>
                <small *ngIf="nameControl.errors?.['maxlength']">Length must be less than 50 characters.</small>
                <small *ngIf="nameControl.errors?.['pattern']">Invalid characters.</small>
            </div>
        </div>
        <div class="item">
            <label>
                <div>Team Page Link</div>
            </label>
            <div>
                <input type="text" formControlName="pageLink">
            </div>
            <div *ngIf="nameControl.invalid && nameControl.touched" class="validation">
                <small *ngIf="nameControl.errors?.['required']">This field is required.</small>
                <small *ngIf="nameControl.errors?.['minlength']">Length must be more than 2 characters.</small>
            </div>
        </div>
        <div class="item">
            <label>Time Zone</label>
            <mat-select formControlName="timeZone">
                <mat-option *ngFor="let name of timeZoneValues" [value]="timeZoneValues.indexOf(name)">
                    {{name}}
                </mat-option>
            </mat-select>
        </div>
        <div class="item">
            <label>
                <div>Description</div>
            </label>
            <div>
                <textarea class="text-area-class" formControlName="description"></textarea>
            </div>
            <div *ngIf="descriptionControl.invalid && descriptionControl.touched" class="validation">
                <small *ngIf="descriptionControl.errors?.['required']">This field is required.</small>
                <small *ngIf="descriptionControl.errors?.['minlength']">Length must be more than 2 characters.</small>
                <small *ngIf="descriptionControl.errors?.['maxlength']">Length must be less than 50 characters.</small>
                <small *ngIf="descriptionControl.errors?.['pattern']">Invalid characters.</small>
            </div>
        </div>
        <div class="item">
            <div class="buttons-block">
                <button mat-flat-button class="white-button" type="button" (click)="deleteTeam()">
                    <mat-icon class="icon">delete_outline</mat-icon>
                    Delete Team
                </button>
                <button mat-flat-button type="submit">Update Preferences</button>
            </div>
        </div>
    </form>
</div>
