<div class="wrapper">
    <form class="form-wrapper">
        <div class="item">
            <div class="logo-block">
                <div class="logo">
                </div>
                <button type="button" class="white-button" mat-flat-button>Upload Logo</button>
            </div>
        </div>
        <div class="item">
            <label>
                <div>Team Name</div>
            </label>
            <div>
                <input type="text">
            </div>
        </div>
        <div class="item">
            <label>
                <div>Team Page Link</div>
            </label>
            <div>
                <input type="text">
            </div>
        </div>
        <div class="item">
            <label>Time Zone</label>
            <mat-select>
                <mat-option *ngFor="let name of timeZoneValues" [value]="timeZoneValues.indexOf(name)">
                    {{name}}
                </mat-option>
            </mat-select>
        </div>
        <div class="item">
            <label>
                <div>Description</div>
            </label>
            <div>
                <textarea class="text-area-class"></textarea>
            </div>
        </div>
        <div class="item">
            <div class="buttons-block">
                <button mat-flat-button class="white-button">
                    <mat-icon class="icon">delete_outline</mat-icon>
                    Delete Team
                </button>
                <button mat-flat-button>Update Preferences</button>
            </div>
        </div>
    </form>
</div>
