<div class="container">
    <div class="team-info">
        <div class="team-name">
            <div><h3>{{name}}</h3></div>
            <div class="link">
                <img src="assets/copy_icon.png" class="copy-icon" />
                <a href="#">{{ link }}</a>
            </div>
        </div>
    </div>
    <div class="availability-slot">
        <div *ngFor="let _slot of availabilitySlots">
            <app-slot [slot]="_slot" [team]="team" [author]="author"></app-slot>
        </div>
    </div>
</div>
