<div class="container">
    <div id="container-back" class="back-container" (click)="cancelBooking.emit(true)" onclick="history.back()">
        <span class="back-text"> Enter details</span>
    </div>
    <form #answers="ngForm" id="container-extrainfo" class="extrainfo-container">
        <div class="question-mandatory list-item-wrapper flex cross-axis-center bottom">
            <mat-label class="question-index bold">1.</mat-label>
            <mat-label class="bold">{{ fullNameText }}</mat-label>
        </div>
        <div class="question-mandatory list-item-wrapper flex cross-axis-center">
            <mat-form-field class="question-input no-padding max-input-width" appearance="outline">
                <input
                    matInput
                    type="text"
                    name="userFullName"
                    #name="ngModel"
                    [(ngModel)]="questions[0].answer"
                    [pattern]="textFieldRegex"
                    required
                    (change)="trimInputValue(name.control)"
                    [placeholder]="fullNamePlaceHolder" />
            </mat-form-field>
        </div>
        <div *ngIf="name.invalid && name.touched" class="validation-error">
            <div *ngIf="name.errors?.['required']">Field is required</div>
            <div *ngIf="name.errors?.['pattern']">Input field accepts only text, numbers, symbols -'</div>
        </div>
        <div class="question-mandatory list-item-wrapper flex cross-axis-center bottom">
            <mat-label class="question-index bold">2.</mat-label>
            <mat-label class="bold">{{ emailText }}</mat-label>
        </div>
        <div class="question-mandatory list-item-wrapper flex cross-axis-center">
            <mat-form-field class="question-input no-padding max-input-width" appearance="outline">
                <input
                    matInput
                    type="text"
                    name="userEmail"
                    #userEmail="ngModel"
                    [(ngModel)]="questions[1].answer"
                    [pattern]="emailPattern"
                    required
                    (change)="trimInputValue(userEmail.control)"
                    [placeholder]="emailPlaceHolder" />
            </mat-form-field>
        </div>
        <div *ngIf="userEmail.invalid && userEmail.touched" class="validation-error">
            <div *ngIf="userEmail.errors?.['required']">Field is required</div>
            <div *ngIf="userEmail.errors?.['pattern']">Invalid email address</div>
        </div>
        <ng-container *ngFor="let question of additionalQuestions; let i = index">
            <div class="question-mandatory list-item-wrapper flex cross-axis-center bottom">
                <mat-label class="question-index bold">{{ i + 3 }}.</mat-label>
                <mat-label class="bold">{{ question.questionText }}</mat-label>
            </div>
            <div class="question-mandatory list-item-wrapper flex cross-axis-center">
                <mat-form-field class="question-input no-padding max-input-width" appearance="outline">
                    <input
                        matInput
                        type="text"
                        name="questionAnswer{{ i }}"
                        #questionField="ngModel"
                        [(ngModel)]="question.answer"
                        [pattern]="textFieldRegex"
                        (change)="trimInputValue(questionField.control)"
                        [placeholder]="question.placeHolderText" />
                </mat-form-field>
            </div>
            <div *ngIf="questionField.invalid && questionField.touched" class="validation-error">
                <div *ngIf="questionField.errors?.['pattern']">Input field accepts only text, numbers, symbols -'</div>
            </div>
        </ng-container>
    </form>
    <div id="container-confirm" class="confirm-container">
        <button
            class="confirm-button"
            (click)="OnConfirmBooking()"
            mat-flat-button
            color="primary"
            [disabled]="!answers.valid">
            Confirm booking
        </button>
    </div>
</div>
