@import '../../../../styles/color-variables'

.container
    display: grid
    flex-flow: column
    height: 100%
    margin-left: 150px
    grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 1fr
    grid-template-areas: "item0" "back" "name" "email" "extrainfo" "confirm"
    resize: none
    overflow: auto

#container-back
    grid-area: back
    vertical-align: middle

#container-name
    grid-area: name

#container-email
    grid-area: email

#container-extrainfo
    grid-area: extrainfo

#container-confirm
    margin-top: 30px
    grid-area: confirm

.input-message
    background: $white-color
    padding-top: 0
    border: 2px solid $loblolly
    border-radius: 4px
    display: flex
    align-items: flex-start
    justify-content: flex-start
    width: 337px
    font-size: 14px
    padding-left: 5px
    height: 36px
    line-height: normal

.validationError
    margin-top: 5px
    color: red

.input-title
    font-weight: 575
    font-size: 14px
    line-height: 20px
    color: $pale-sky
    margin-top: 20px
    margin-bottom: 2px

.back-text
    font-weight: 575
    font-size: 29px
    line-height: 20px
    color: $pale-sky

.arrow-back
    color: $pale-sky

.back-container
    cursor: pointer

textarea
    padding-top: 5px
    background: $white-color
    border: 2px solid $loblolly
    border-radius: 4px
    resize: none
    display: flex
    align-items: flex-start
    justify-content: flex-start
    width: 337px
    font-size: 14px
    padding-left: 5px
    height: 36px
    line-height: normal
