<div class="confirmation-window-wrapper">
    <div class="title-container">
        <div class="mat-title-text">
            <h1 mat-dialog-title>{{ title }}</h1>
        </div>
    </div>
    <div *ngIf="message" mat-dialog-content class="message">
        {{ message }}
    </div>
    <input [(ngModel)]="query" (input)="getUsersByEmailOrName(query)" class="search-input" />
    <div class="user-info-container">
        <div *ngIf="!query" class="query-message">Type some text for searching...</div>
        <div *ngFor="let user of searchedUsers" (click)="selectUser(user)">
            <div class="user-info">
                <div class="user-avatar">
                    <ng-container *ngIf="user.image; else noMemberImage">
                        <img src="{{ user.image }}" />
                    </ng-container>
                    <ng-template #noMemberImage>
                        <img src="assets/header/avatar-icon.png" />
                    </ng-template>
                </div>
                <div class="user-name-email">
                    <div class="name">{{ user.userName }}</div>
                    <div class="email">{{ user.email }}</div>
                </div>
                <div class="added-member-icon" *ngIf="isAddedMember(user)">ADDED</div>
            </div>
        </div>
    </div>
    <div class="selected-text">Selected {{ usersToAdd.length }} member(s)</div>
    <hr />
    <div mat-dialog-actions class="mat-dialog-buttons">
        <button
            *ngFor="let buttonOptions of buttonsOptions"
            [ngClass]="buttonOptions.class"
            mat-flat-button
            (click)="onClick(buttonOptions.onClickEvent)">
            {{ buttonOptions.label }}
        </button>
    </div>
</div>
