<div class="confirmation-window-wrapper">
    <div class="title-container">
        <div class="mat-title-text">
            <h1 mat-dialog-title>{{ title }}</h1>
        </div>
    </div>
    <div *ngIf="message" mat-dialog-content class="message">
        {{ message }}
    </div>
    <div class="user-info-container">
        <mat-form-field class="emails-input" appearance="fill">
            <mat-chip-list #membersList>
                <mat-chip *ngFor="let teamMemberEmail of teamMembersEmails" (removed)="remove(teamMemberEmail)">
                    {{teamMemberEmail}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input [matChipInputFor]="membersList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="mat-dialog-buttons">
        <button *ngFor="let buttonOptions of buttonsOptions" [ngClass]="buttonOptions.class" mat-flat-button
            (click)="onClick(buttonOptions.onClickEvent)"
            [disabled]="!this.teamMembersEmails.length && buttonOptions.label !=='Cancel'">
            {{ buttonOptions.label }}
        </button>
    </div>
</div>
