@import '../../../../styles/color-variables'
@import '../../../../styles/screen-variables'
@import '../../../../styles/time-zone-picker'

h1, h3, h4
    font-family: 'Inter'
    font-style: normal
    line-height: 20px
    color: $pale-sky

h3, h4
    font-weight: 400
    font-size: 16px

h1
    font-weight: 700
    font-size: 20px

.header-container
    position: relative
    margin-bottom: 24px
    .arrow-back
        position: absolute
        top: 12px
        cursor: pointer
    .page-title
        font-size: 32px
        color: $logo-color
        text-align: center
        line-height: 48px

.grid-container
    width: 100%
    height: 60vh
    @media screen and (max-width: $desktop-min-width)
        width: 73vw

.grid::-webkit-scrollbar
    display: none

.grid
    display: grid
    grid-template-columns: repeat(7, 14%)
    overflow-y: auto
    max-height: 100%
    justify-content: center
    justify-self: center
    span
        position: relative
        z-index: 1
        display: block
        text-align: center
        padding: 4px 8px
        border-radius: 4px
        font-family: 'Inter'
        font-style: normal
        font-weight: 700
        font-size: 12px
        line-height: 20px
        color: $pale-sky
        border-radius: 24px
        margin-right: 5px
        margin-left: 5px
        border: 2px solid $black
    .background-line
        height: 1px
        width: 100%
        background-color: $black

    .enabled
        background: $midnight
        border: 2px solid $midnight
        color: $white

    .enabled:hover
        border: 2px solid $white
        cursor: pointer

    .disabled
        color: $white
        background: $white-gray
        border: 2px solid $light-gray

    .previous-date-enabled
        border: 2px solid $alto
        color: $alto

    .previous-date-disabled
        color: $white-gray
        border: 2px solid $alto
        background-color: $white

.column-label
    border-top: 1px solid $header-border-color
    background-color: $white
    font-family: 'Inter'
    font-style: normal
    align-items: center
    text-align: center
    color: $pale-sky

.settings
    width: 100%
    display: flex
    flex-direction: row
    margin-bottom: 20px
    align-items: flex-start
    @media screen and (max-width: $tablet-min-width)
        flex-direction: column

.date-navigation
    width: 50%
    display: flex
    flex-direction: row
    align-items: center
    font-family: 'Inter'
    font-style: normal
    line-height: 20px
    color: $pale-sky
    position: relative
    align-items: flex-start
    @media screen and (max-width: $desktop-min-width)
        display: block
    .week-range
        margin-top: 6px
        margin-left: 24px
        width: 45%
        font-weight: bold
        @media screen and (max-width: $desktop-min-width)
            margin-left: 0
            width: 100%
        span
            margin-left: 5px
            font-size: 14px
            line-height: 20px
            color: $logo-color
        i
            font-size: 20px
    button
        border-radius: 24px
        width: 15%
        padding: 8px 24px
        width: 48px
        height: 32px
        &:first-child
            margin-right: 8px
        i
            display: flex
            justify-content: center

.timezone
    position: absolute
    right: 0
    min-width: 30%
    @media screen and (max-width: $tablet-min-width)
        position: relative

.today-label, .day-name-label, .day-number-label
    height: 25px
    h1, h2, h3, h4, h5
        font-size: 14px
        line-height: 17px
        font-family: 'Inter'
        font-style: normal

.today-label
    h3
        font-weight: 700

.day-name-label
    h3
        font-weight: 400
        text-transform: uppercase

.day-number-label
    h3
        font-weight: 700
        font-size: 20px
        line-height: 20px

::ng-deep .btn.mat-button
    border: 2px solid $loblolly !important

.item-container
    width: 100%
    height: 30px
    position: relative
    padding-top: 5px
    padding-bottom: 5px
    background-color: $light-gray
    border: 1px solid $white-gray
    .lines
        width: 100%
        position: absolute
        display: flex
        flex-direction: column
        .line
            z-index: 0
            height: 1px
            width: 100%
            margin-bottom: 5px
            background-color: $white-gray

::ng-deep .timezone-mat-form-field.mat-form-field
    border: 2px solid $loblolly
    border-radius: 4px
