<h1>Please, choose time</h1>
<div class="settings">
    <div class="date-navigation">
        <h3>
            <i class="fa-solid fa-calendar"></i> {{ calendarWeek.firstDay | date: 'd MMM' }} –
            {{ calendarWeek.lastDay | date: 'd MMM yyyy' }}
        </h3>
        <button class="btn left-btn" mat-button (click)="changeWeek(false)">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        <button class="btn right-btn" mat-button (click)="changeWeek(true)">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
    <div class="timezone">
        <mat-form-field appearance="fill">
            <mat-label>Select Time Zone</mat-label>
            <mat-select>
                <mat-option value="zone.value" *ngFor="let zone of timeZone | keyvalue">
                    {{ zone.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="grid-container">
    <div class="grid">
        <div class="column-label" *ngFor="let day of daysWithTimeRange; let i = index">
            <div
                *ngIf="
                    this.calendarWeek.firstDay.getDate() + i === nowDate.getDate() &&
                    this.calendarWeek.firstDay.getMonth() === nowDate.getMonth() &&
                    this.calendarWeek.firstDay.getFullYear() === nowDate.getFullYear()
                ">
                Today
            </div>
            <!--
                {{ this.calendarWeek.firstDay.getTime() + i * 24 * 60 * 60 * 1000 }}
                {{ nowDate.getTime() }}
            -->
            <strong>{{ day.dayOfWeek }}</strong>
            <div>
                <strong>{{ this.calendarWeek.firstDay.getTime() + i * 24 * 60 * 60 * 1000 | date: 'dd' }}</strong>
            </div>
        </div>
        <ng-container *ngFor="let in of slotsCount; let i = index">
            <ng-container *ngFor="let day of daysWithTimeRange">
                <ng-container
                    *ngIf="
                        theEarliestStartOfTimeRanges.getTime() + selectedMeetingDuration * i * 60 * 1000 >=
                            day.startTime.getTime() &&
                            theEarliestStartOfTimeRanges.getTime() + selectedMeetingDuration * i * 60 * 1000 <=
                                day.finishTime.getTime();
                        else defaultTimeSlot
                    ">
                    <span class="enabled">
                        {{
                            theEarliestStartOfTimeRanges.getTime() + selectedMeetingDuration * i * 60000 | date: 'HH:mm'
                        }}
                    </span>
                </ng-container>
                <ng-template #defaultTimeSlot>
                    <span class="disabled">{{
                        theEarliestStartOfTimeRanges.getTime() + selectedMeetingDuration * i * 60000 | date: 'HH:mm'
                    }}</span>
                </ng-template>
            </ng-container>
        </ng-container>
    </div>
</div>
