<app-header-item></app-header-item>
<div class="container">
    <div class="new-meeting-header">
        <p class="new-meeting-header-label">New meeting</p>
        <button color="primary" mat-flat-button class="new-meeting-header-button">Create</button>
    </div>
    <div class="main-content">
        <div class="sidebar">
            <form class="add-new-meeting-info-form" [formGroup]="meetingForm">
                <div class="item">
                    <p class="name-label">Name</p>
                    <input matInput type="text" #searchBar placeholder="New meeting" formControlName="meetingName">
                    <div *ngIf="meetingNameControl.invalid && meetingNameControl.touched">
                        <small *ngIf="meetingNameControl.errors?.['required']">This field is required.</small>
                        <small *ngIf="meetingNameControl.errors?.['minlength']">Length must be more than 2
                            characters.</small>
                        <small *ngIf="meetingNameControl.errors?.['maxlength']">Length must be less than 50
                            characters.</small>
                        <small *ngIf="meetingNameControl.errors?.['pattern']">Invalid characters.</small>
                    </div>
                </div>
                <div class="item">
                    <div class="duration-container">
                        <p class="duration-label">Duration</p>
                        <mat-select formControlName="duration" (selectionChange)="changeDuration(meetingForm)">
                            <mat-option *ngFor="let duration of durations" [value]="duration">
                                {{duration}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="custom-container" *ngIf="customTimeShown">
                    <p class="custom-label">Custom time</p>
                    <div class="custom-time">
                        <input matInput type="text" placeholder="Custom time" formControlName="customTime">
                        <mat-select>
                            <mat-option>
                                min
                            </mat-option>
                            <mat-option>
                                hour
                            </mat-option>
                        </mat-select>
                    </div>
                    <div *ngIf="customTimeControl.invalid && customTimeControl.touched" class="validation">
                        <small *ngIf="customTimeControl.errors?.['required']">This field is required.</small>
                        <small *ngIf="customTimeControl.errors?.['pattern']">Invalid numbers.</small>
                    </div>
                </div>
                <div class="duration-container">
                    <p class="location-label">Location</p>
                    <mat-select formControlName="location">
                        <mat-option *ngFor="let location of locations" [value]="location">
                            {{location}}
                        </mat-option>
                    </mat-select>
                </div>
                <div class="search-list">
                    <p class="add-team-member-label">Add Team Member</p>
                    <mat-select
                        #singleSelect
                        placeholder="Type..."
                        [formControl]="memberCtrl"
                        formControlName="teamMember"
                        (selectionChange)="addMemberToList(meetingForm)">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="memberFilterCtrl" placeholderLabel=""
                                noEntriesFoundLabel="no matching team member found">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let member of filteredMembers | async" [value]="member">
                            {{member.name}}
                        </mat-option>
                    </mat-select>
                </div>
            </form>
            <div class="team-members-container">
                <p class="team-members-label">Team members {{addedMembers.length}}:</p>
                <div class="member-info-container" *ngFor="let member of addedMembers">
                    <div class="member-info">
                        <p>{{member.name}}</p>
                        <i class="fa-solid fa-xmark fa-lg cancel-icon"></i>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </div>
        <div class="menu-item-container">
            <div class="date-duration-container">
                <div class="date-container">
                    <p class="date-label">Date</p>
                    <mat-select placeholder="Date">
                        <mat-option *ngFor="let date of dates">
                            {{date}}
                        </mat-option>
                    </mat-select>
                </div>
                <div class="duration-container">
                    <p class="duration-label">Duration</p>
                    <mat-select>
                        <mat-option *ngFor="let duration of durations" [value]="duration">
                            {{duration}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
    </div>
</div>
