@import '../../../../styles/color-variables'

.container
    width: 100vw
    min-height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    background-color: $athens-gray

.teams-container
    width: 76%
    height: 45%
    position: relative
    .buttons-container
        box-sizing: border-box
        height: 72px
        position: absolute
        top: 0
        right: 0
        display: flex
        flex-direction: row
        gap: 20px
        padding: 19px 0
