.container
    height: 100vh
    padding: 0
    margin: 0
    display: flex
    justify-content: center
    background-color: #eef0f4

.teams-container
    width: 75%
    height: 45%

    display: flex
    flex-direction: column
    align-items: flex-start
    .availability-slot
        width: 100%
        height: 100%
        display: grid
        align-items: center
        grid-gap: 1em
        grid-auto-flow: column

.team-info
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-top: 1em
    .team-name
        color: #808896
        display: flex
        flex-direction: row
        align-items: center
        .copy-icon
            width: 20px
            height: 20px
            margin-left: 0.7em
