<h1>Please, choose meeting</h1>
<mat-card class="card" routerLink="#">
    <mat-card-title>30 Min Meeting</mat-card-title>
    <mat-card-subtitle>30 Min, Meet</mat-card-subtitle>
</mat-card>
<mat-card class="card" routerLink="#">
    <mat-card-title>1 Hour Meeting</mat-card-title>
    <mat-card-subtitle>1 Hour, Meet</mat-card-subtitle>
</mat-card>
<mat-card class="card" routerLink="choose-time">
    <mat-card-title>15 Min Meeting</mat-card-title>
    <mat-card-subtitle>15 Min, Meet</mat-card-subtitle>
</mat-card>
