<div class="wrapper">
    <div class="sidebar">
        <div class="user-info">
            <div class="avatar" >
                <img *ngIf="menu.user.image; else defaultImage" src="{{ menu.user.image }}"/>
                <ng-template #defaultImage>
                    <img src="assets/header/avatar-icon.png"/>
                </ng-template>
            </div>
            <h1> {{ menu.user.userName }}</h1>
            <h3>Hello! Welcome to my booking page, please choose a time that works for you.</h3>
        </div>
    </div>
    <div class="content">
        <app-external-booking-slot
            *ngFor="let slot of slots"
            (setTeamId)="setTeamId.emit(slot.teamId)"
            [slot]="slot">
        </app-external-booking-slot>
    </div>
</div>
<div class="logo-wrapper">
    <img src="../../../../assets/logo_icon.png" class="meets-logo" alt="EasyMeets Logo" />
    <h2 class="product-name">EasyMeets</h2>
</div>
