<form class="recovery-code-form form">
    <div class="form-inputs flex-col">
        <mat-label class="outside-label bold">Recovery code</mat-label>
    </div>
    <div class="form-actions flex-col h-align-center">
        <button
            class="full-width"
            mat-flat-button
            color="primary"
            type="button">Send
        </button>
        <button
            mat-raised-button
            class="social-google-btn"
            color="primary"
            type="button" >
            <div class="btn-content">Send Recovery Code Again</div>
        </button>
        <button
            mat-raised-button
            class="back-btn"
            color="primary"
            type="button" >
            <div class="btn-icon">
                <mat-icon>chevron_left</mat-icon>
            </div>
            <div class="btn-content">Back</div>
        </button>
    </div>
</form>
