<div class="booking-confirmed-container">
    <div class="booking-confirmed">
        <div class="confirmed-icon">
            <img src="assets/booked-icon.png" />
        </div>
        <div class="confirmed-label">Booking Confirmed!</div>
        <div class="confirmed-message">A calendar invitation has been sent to your email address</div>
        <div class="confirmed-btn">
            <button
                mat-flat-button
                color="primary"
                class="save-activate-button"
                disabled="false"
                (click)="onChooseAnotherMeeting()">
                Book Another Meeting
            </button>
        </div>
    </div>
</div>
