@import '../../../../../styles/color-variables'
*
    box-sizing: border-box

.container
    height: 100vh
    width: 100vw
    display: flex
    flex-direction: column
    justify-items: center
    padding: 0 100px 90px 100px

    background-color: $athens-gray

.new-availability-header
    display: flex
    flex-direction: row
    justify-content: start
    align-items: center
    padding: 20px 0
    p
        margin: 0 25px 0 0
    .slot-link
        color: $royal-blue
    .new-availability-header-label
        font-size: 20px
        font-weight: bold
    label
        margin-right: 10px
    .slot-button-container
        margin-left: auto
        display: flex
        gap: 20px

.main-content
    background-color: white
