<app-header-item></app-header-item>
<div class="container">
    <div class="new-availability-header">
        <p class="new-availability-header-label">{{ title }}</p>
        <mat-slide-toggle [checked]="slot?.isEnabled" (change)="enableSlot()"></mat-slide-toggle>
        <p>Active</p>
        <p class="slot-link">{{ slot?.link ?? '' }}</p>
        <div class="slot-button-container">
            <button mat-flat-button (click)="cancelClick.emit()">Cancel</button>
            <button mat-flat-button color="primary" (click)="saveChanges()">Save changes</button>
        </div>
    </div>
    <div class="main-content">
        <div class="sidebar">
            <app-side-menu-tabs [groups]="sideMenuGroups" [(currentIndex)]="index"></app-side-menu-tabs>
            <div class="delete-slots-wrapper" *ngIf="showDeleteBlock">
                <div class="delete-slots-container" (click)="deleteClick.emit()">
                    <mat-icon>delete_outline</mat-icon>
                    <p class="delete-slots-label">Delete availability slots</p>
                </div>
            </div>
        </div>
        <div class="menu-item-container">
            <div [className]="getClass(0)" ><app-general [newSlot]="slot"></app-general></div>
            <div [className]="getClass(1)"><app-event-detail [newSlot]="slot"></app-event-detail></div>
            <div [className]="getClass(2)"><app-schedule [newSlot]="slot"></app-schedule></div>
            <div [className]="getClass(3)"><app-notification-emails [newSlot]="slot"></app-notification-emails></div>
        </div>
    </div>
</div>
