@import '../../../../../styles/color-variables'
@import '../../../../../styles/screen-variables'

*
    box-sizing: border-box

app-side-menu-tabs
    width: 100%
    margin: 0 10px
    @media screen and ( max-width: $tablet-min-width)
        margin: 0

.container
    min-height: 100vh
    margin-top: 68px
    width: 100vw
    display: flex
    flex-direction: column
    justify-items: center
    padding: 0 100px 90px 100px
    background-color: $athens-gray
    @media screen and(max-width: $desktop-min-width)
        padding: 0 50px 90px 50px
    @media screen and ( max-width: $tablet-min-width)
        padding: 0 30px 90px 30px

.new-availability-header
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    padding: 20px 0
    @media screen and(max-width: 700px)
        flex-direction: column
        gap: 5px
    p
        margin: 0 25px 0 0
    .slot-link
        color: $royal-blue
        text-decoration: underline
    .new-availability-header-label
        font-size: 20px
        font-weight: bold
        color: $dark-gray
        @media screen and ( max-width: $tablet-min-width)
            font-size: 16px
    mat-slide-toggle
            margin-right: 10px
    .slot-button-container
        margin-left: auto
        display: flex
        gap: 20px
        @media screen and(max-width: 700px)
            width: 100%
            margin-left: 0
        button
            @media screen and ( max-width: $tablet-min-width)
                line-height: 20px
                @media screen and(max-width: 700px)
                    width: 50%

.main-content
    background-color: white
    height: calc(100% - 75px)
    display: flex
    flex-direction: row
    @media screen and ( max-width: $tablet-min-width)
        flex-direction: column
    .sidebar
        width: 25%
        @media screen and(max-width: $desktop-min-width)
            width: 50%
        @media screen and(max-width: $tablet-min-width)
            width: 100%
            border-bottom: 2px solid $loblolly
    .menu-item-container
        width: 75%
        display: flex
        justify-content: center
        @media screen and(max-width: $tablet-min-width)
            width: 100%

.sidebar
    display: flex
    flex-direction: column
    align-items: flex-start
    .delete-slots-wrapper
        width: 100%
        margin: auto 0 40px 0
        display: grid
        grid-template-columns: 100%
        grid-template-rows: 100%
        cursor: pointer
        @media screen and(max-width: $tablet-min-width)
            margin: auto 0 10px 0
        .delete-slots-container
            display: grid
            grid-template-columns: 10% 90%
            justify-self: center
            cursor: pointer
            user-select: none
            p
                height: 24px
                line-height: 24px
                margin: 0 0 0 10px

::ng-deep .mat-tab-group > .mat-tab-header
    display: none

.mat-tab-group
    width: 100%

.active-container
    display: flex
    align-items: center
