@import 'src/styles/color-variables'
@import 'src/styles/screen-variables'
@import url('https://rsms.me/inter/inter.css')

*
    box-sizing: border-box

.wrapper
    min-height: 100%
    background-color: $white

app-side-menu-tabs
    width: 100%
    height: 100%
    @media screen and (max-width: $tablet-min-width)
        margin: 0

.container
    width: 100%
    display: flex
    flex-direction: column
    justify-items: center
    padding: 0 100px 0 100px
    @media screen and (max-width: $desktop-min-width)
        padding: 0 50px 90px 50px
    @media screen and (max-width: $tablet-min-width)
        padding: 0 30px 90px 30px

.new-availability-header
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    padding: 20px 0
    width: 93%
    align-self: center
    @media screen and (max-width: 700px)
        flex-direction: column
        gap: 5px
    p
        margin: 0 25px 0 0
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 12px
        line-height: 136%
        color: $raven
    .slot-info
        display: flex
        flex-direction: column
        .slot-info-name-toggle
            display: flex
            flex-direction: row
        .slot-link
            color: $royal-blue
            text-decoration: underline
        .new-availability-header-label
            font-size: 20px
            font-weight: bold
            color: $dark-gray
            @media screen and (max-width: $tablet-min-width)
                font-size: 16px
    mat-slide-toggle
                margin-right: 10px
    .slot-button-container
        margin-left: auto
        display: flex
        gap: 20px
        @media screen and (max-width: 700px)
            width: 100%
            margin-left: 0
        button
            @media screen and (max-width: $tablet-min-width)
                line-height: 20px
                @media screen and (max-width: 700px)
                    width: 50%

.main-content
    min-height: 75vh
    background-color: white
    display: flex
    flex-direction: row
    background: $white
    border: 1px solid $solitude
    box-shadow: 0px 0px 8px -2px rgba(16, 24, 40, 0.16), 0px 2px 4px -2px rgba(16, 24, 40, 0.06)
    border-radius: 32px
    align-self: center
    width: 93%
    @media screen and (max-width: $tablet-min-width)
        flex-direction: column
        width: 100%
    .sidebar
        width: 15%
        min-width: 200px
        border-right: 1px solid $header-border-color
        margin-left: 2px
        @media screen and (max-width: $desktop-min-width)
            width: 50%
        @media screen and (max-width: $tablet-min-width)
            width: 100%
            border-bottom: 2px solid $header-border-color
            border-right: none
    .menu-item-container
        min-height: 100%
        width: 75%
        display: flex
        justify-content: center
        @media screen and (max-width: $tablet-min-width)
            width: 100%

.sidebar
    display: flex
    flex-direction: column
    align-items: flex-start
    .delete-slots-wrapper
        width: 100%
        margin: auto 0 40px 0
        display: grid
        grid-template-columns: 100%
        grid-template-rows: 100%
        cursor: pointer
        @media screen and (max-width: $tablet-min-width)
            margin: auto 0 10px 0
        .delete-slots-container
            display: grid
            grid-template-columns: 20% 80%
            justify-self: center
            cursor: pointer
            padding: 5px
            &:hover
                padding: 3px
                border: 2px solid $black
                user-select: none
                transition: .1s ease-in-out
            p
                height: 24px
                line-height: 24px
                margin: 0 0 0 10px
            mat-icon
                color: $raven
            .delete-slots-label
                font-family: 'Inter'
                font-style: normal
                font-weight: 400
                font-size: 14px
                line-height: 146%
                display: flex
                align-items: center
                color: $raven

.mat-tab-group
    width: 100%

.active-container
    display: flex
    align-items: center

button
    border-radius: 24px
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 14px
    align-items: center

::ng-deep .cancel-button.mat-flat-button
    background: $white
    border: 1px solid $nepal
    color: $midnight

::ng-deep .save-activate-button.mat-flat-button
    color: $white
    background: $midnight
    
::ng-deep .menu-item-container .mat-tab-body-wrapper
    flex-grow: 1
