<div class="container">
    <div class="new-availability-header">
        <p class="new-availability-header-label">{{title}}</p>
        <mat-slide-toggle [checked]="isActive" (change)="isActive = !isActive"></mat-slide-toggle>
        <p>Active</p>
        <p class="slot-link">{{ slot?.link ?? '' }}</p>
        <div class="slot-button-container">
            <button mat-flat-button (click)="cancelClick.emit()">Cancel</button>
            <button mat-flat-button color="primary" (click)="saveChangesClick.emit()">Save changes</button>
        </div>
    </div>
    <div class="main-content">
        <div class="sidebar">
            <app-side-menu [groups]="sideMenuGroups"></app-side-menu>
            <div class="delete-slots-wrapper">
                <div class="delete-slots-container" (click)="deleteClick.emit()">
                    <mat-icon>delete_outline</mat-icon>
                    <p class="delete-slots-label">Delete availability slots</p>
                </div>
            </div>
        </div>
        <div class="menu-item-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
