@import '../../../../styles/color-variables'
@import '../../../../styles/screen-variables'

.calendar-container
    margin-inline: 30px

table
    width: 100%
    box-shadow: none
    .mat-cell
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 146%
        color: $midnight
        border-bottom: 1px solid $em-solitude-dark

.mat-header-cell
    height: 10px
    padding-left: 24px
    font-family: 'Inter'
    font-style: normal
    font-weight: 700
    font-size: 14px
    color: $em-raven
    background-color: $athens-gray
    border-bottom: none

button
    width: 20px
    height: 20px
    background: none
    border: none
    margin-right: 5px

.email-wrapper
    display: flex
    justify-content: flex-start
    align-items: center

.example-additional-selection
    opacity: 0.75
    font-size: 0.75em

.update-references
    display: block
    margin: 0 auto
    height: 40px
    width: 200px
    font-size: 16px
    font-weight: bold
    border: none
    background-color: $athens-gray
    margin-top: 50px
    cursor: pointer
    @media screen and ( max-width: $tablet-min-width )
        height: 30px
        font-size: 14px
        margin-top: 25px

.mat-select-trigger
    height: 30px

.mat-cell
    padding-left: 24px

.table-container
    overflow-y: hidden
    width: 100%

.mat-form-field-appearance-fill .mat-form-field-flex
    padding: 0

::ng-deep .table-container
    .mat-form-field-infix
        max-width: 80px

i
    color: $silver-chalice
    cursor: pointer
    &:hover
        color: $red

.add-calendar-container
    width: 30%
    margin-top: 5%
    margin-inline: 30px
    .add-calendar-item-btn
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        width: 100%
        padding: 8px 24px
        gap: 8px
        height: 48px
        background: $white
        border: 1px solid $nepal
        border-radius: 24px
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 146%
        color: $midnight
    i
        color: $em-raven
        height: 17px
        width: 17px

.toggle
    display: flex
    .check-text
        margin-left: 4px
        margin-top: 2px
        .yes-check-text
            color: $midnight
        .no-check-text
            color: $em-bright-grey

::ng-deep .events-from-select.mat-select
    width: auto !important
    min-width: 50px

::ng-deep .events-from-select
    .mat-select-arrow-wrapper
        margin-top: 10px
        margin-left: 5px
