table
    width: 80%
    margin: 0 auto
    box-shadow: none

.mat-header-cell
    background-color: #eef0f4

.example-additional-selection
    opacity: 0.75
    font-size: 0.75em

:host::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex
    background-color: #fff
    padding: 0

:host::ng-deep.mat-form-field-wrapper
    padding-bottom: 5px

:host::ng-deep.mat-select-value
    margin-bottom: 5px
