<table mat-table [dataSource]="data" class="mat-elevation-z8">
    <!-- Implicit Column -->
    <ng-container matColumnDef="$implicit">
        <th mat-header-cell *matHeaderCellDef>Connected Calendar</th>
        <td mat-cell *matCellDef="let data">email@email.com</td>
    </ng-container>

    <!-- Index Column -->
    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>Event names visible for</th>
        <td mat-cell *matCellDef="let index = index">
            <mat-form-field appearance="fill">
                <mat-label>Toppings</mat-label>
                <mat-select [formControl]="toppings" multiple>
                    <mat-select-trigger>
                        {{toppings.value?.[0] || ''}}
                        <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
                            (+{{ (toppings.value?.length || 0) - 1 }}
                            {{ toppings.value?.length === 2 ? 'other' : 'others' }})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{ topping }}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>

    <!-- Count Column -->
    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>Add event from</th>
        <td mat-cell *matCellDef="let count = count">{{ count }}</td>
    </ng-container>

    <!-- First Column -->
    <ng-container matColumnDef="first">
        <th mat-header-cell *matHeaderCellDef>Check for conflicts</th>
        <td mat-cell *matCellDef="let first = first">{{ first }}</td>
    </ng-container>

    <!-- Last Column -->
    <ng-container matColumnDef="last">
        <th mat-header-cell *matHeaderCellDef>last</th>
        <td mat-cell *matCellDef="let last = last">{{ last }}</td>
    </ng-container>

    <!-- Even Column -->
    <ng-container matColumnDef="even">
        <th mat-header-cell *matHeaderCellDef>even</th>
        <td mat-cell *matCellDef="let even = even">{{ even }}</td>
    </ng-container>

    <!-- Odd Column -->
    <ng-container matColumnDef="odd">
        <th mat-header-cell *matHeaderCellDef>odd</th>
        <td mat-cell *matCellDef="let odd = odd">{{ odd }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
