<div class="container">
    <button class="connect-new">Connect New Calendars</button>

    <table mat-table [dataSource]="userCalendars" class="mat-elevation-z8">
        <!-- Emails Column -->
        <ng-container matColumnDef="connected-calendars">
            <th mat-header-cell *matHeaderCellDef>Connected Calendar</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <!-- Events for Column -->
        <ng-container matColumnDef="events-for">
            <th mat-header-cell *matHeaderCellDef>Event names visible for</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="fill">
                    <mat-select multiple>
                        <mat-select-trigger>
                            {{'None' || teamsFor.value?.[0]}}
                            <span *ngIf="(teamsFor.value?.length || 0) > 1" class="example-additional-selection">
                                {{ teamsFor.value?.length }} Teams
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let team of element.teamsFor" [value]="team.name">{{
                            team.name
                        }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Events from Column -->
        <ng-container matColumnDef="events-from">
            <th mat-header-cell *matHeaderCellDef>Add event from</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="fill">
                    <mat-select name="check">
                        <mat-option *ngFor="let team of element.teamFrom" [value]="team.name">
                            {{ team.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Check Column -->
        <ng-container matColumnDef="check">
            <th mat-header-cell *matHeaderCellDef>Check for conflicts</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="fill">
                    <mat-select name="check">
                        <mat-option *ngFor="let option of checkOptions" [value]="option.name">
                            {{ option.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <button [disabled]="true" class="update-references">Update References</button>
</div>
