<div class="container">
    <button class="connect-new">Connect New Calendars</button>

    <table mat-table [dataSource]="userCalendars" class="mat-elevation-z8">
        <!-- Emails Column -->
        <ng-container matColumnDef="connected-calendars">
            <th mat-header-cell *matHeaderCellDef>Connected Calendar</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <!-- Events for Column -->
        <ng-container matColumnDef="events-for">
            <th mat-header-cell *matHeaderCellDef>Event names visible for</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="fill">
                    <mat-label *ngIf="element.teamsFor === null || element.teamsFor.length === 0">None</mat-label>
                    <mat-select
                        [(ngModel)]="element.teamsFor"
                        (ngModelChange)="(element.teamsFor)"
                        name="selectedTeams"
                        multiple
                    >
                        <mat-option *ngFor="let team of allTeams" [value]="team.name">{{ team.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Events from Column -->
        <ng-container matColumnDef="events-from">
            <th mat-header-cell *matHeaderCellDef>Add event from</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="fill">
                    <mat-label *ngIf="element.teamFrom === null">None</mat-label>
                    <mat-select [(ngModel)]="element.teamFrom" (ngModelChange)="(element.teamFrom)">
                        <mat-option *ngFor="let team of allTeams" [value]="team.name">
                            {{ team.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Check Column -->
        <ng-container matColumnDef="check">
            <th mat-header-cell *matHeaderCellDef>Check for conflicts</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="fill">
                    <mat-select [(ngModel)]="element.checkForConflicts" (ngModelChange)="(element.checkForConflicts)">
                        <mat-option *ngFor="let option of checkOptions" [value]="option.value">
                            {{ option.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <button [disabled]="true" class="update-references">Update References</button>
</div>
