<mat-nav-list class="side-list" [disableRipple]="true">
    <div class="group" *ngFor="let group of groups">
        <div class="group-header" *ngIf="group.header" mat-subheader>
            <span>{{ group.header }}</span>
            <button class="group-button btn-rounded" mat-stroked-button routerLink="{{ group.buttonRouterLink }}"
                *ngIf="group.showButton" disableRipple>
                <span>{{ group.buttonText }}</span>
            </button>
        </div>
        <div class="group-content">
            <a class="list-item" mat-list-item *ngFor="let item of group.items" [routerLink]="item.routerLink"
                routerLinkActive="item-link-active">
                <span>{{ item.text }}</span>
            </a>
        </div>
    </div>
</mat-nav-list>
