@import 'src/styles/color-variables.sass'

.group-header, .group-button
    color: $loblolly

.group-button:hover
    background-color: $white

.mat-list-base .mat-list-item, .mat-list-base .mat-subheader
    height: 1em
    margin: 12px 0
    padding: 10px 0
    border-radius: 4px
    font-size: 14px

.mat-nav-list a.side-list-item-active
    color: $royal-blue
    background-color: $light-blue
    font-weight: 700

a.list-item
    color: $dark-gray

.side-list
    margin: 0 1em
