@import '../../../../styles/color-variables'

.item
    background: white
    padding: 20px 29px
    display: flex
    flex-direction: column
    gap: 10px
    border-right: 1px solid rgba($pale-sky, .4)

.itemScroll
    height: 180px
    border: none

.timeTitle
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 24px
    color: $pale-sky

.itemText
    color: rgba($black, 0.5)
    margin: 0
    font-size: 1em
    word-wrap: break-word
    white-space: pre

.listItemAnswers
    font-weight: 600
    font-size: 14px
    line-height: 20px
    display: flex
    align-items: center
    text-align: center
    text-decoration-line: underline
    color: $pale-sky
