@import 'src/styles/color-variables'

.bold
    font-weight: 600

.underlined
    text-decoration-line: underline

.booker-card
    color: $pale-sky
    background: white
    padding: 1.43em 2.07em
    display: flex
    flex-direction: column
    gap: 10px
    border-right: 1px solid rgba($pale-sky, .4)
    span
        white-space: nowrap

.title
    font-size: 1.15em
    white-space: nowrap
