<ng-template #customCellTemplate let-day="day">
    <div class="menu-trigger" [matMenuTriggerFor]="menu">
        <div class="cal-cell-top">
            <span class="cal-day-number">{{ day.date | date :"d" }}</span>
            <i class="fa-solid fa-repeat" *ngIf="getWeekScheduleTime(day.date).length !== 0 && getScheduleTime(day.date).length === 0"></i>
            <i class="fa-solid fa-pen" *ngIf="getScheduleTime(day.date).length > 0"></i>
        </div>
        <div>
            <div class="cal-content">
                <p *ngIf="getWeekScheduleTime(day.date).length === 0 && getScheduleTime(day.date).length === 0">Unavailable</p>
                <p *ngFor="let time of getWeekScheduleTime(day.date)">{{time}}</p>
                <p *ngFor="let time of getScheduleTime(day.date)">{{time}}</p>
            </div>
            <div *ngIf="(getWeekScheduleTime(day.date).length + getScheduleTime(day.date).length ) > 3" class="more-text">
                + 3more...
            </div>
        </div>
        <div class="schedule-month-drop-down-menu">
            <mat-menu #menu="matMenu" class="schedule-month-drop-down-menu">
                <button mat-menu-item class="btn edit" (click)="showExclusionDatesWindow()">
                    <i class="fa-solid fa-pen"></i>Edit date(s)
                </button>
                <button mat-menu-item class="btn share">
                    <i class="fa-solid fa-repeat"></i>Edit all {{ day.date | date :"EEEE" }}s
                </button>
                <button *ngIf="getScheduleTime(day.date).length > 0" mat-menu-item class="btn delete"
                        (click)="resetToDefault(day.date)">
                    <i class="fa-solid fa-rotate-right"></i>Reset to Default
                </button>
            </mat-menu>
        </div>
    </div>
</ng-template>

<mwl-calendar-month-view
    [viewDate]="viewDate"
    [cellTemplate]="customCellTemplate">
</mwl-calendar-month-view>
