<div class="upper-bar">
    <div class="nav-text">
        <h1>Please, choose Team member for meeting</h1>
    </div>
</div>
<div *ngFor="let member of slotMembers" class="member-cards-container">
    <mat-card class="team-member-card" (click)="selectMember(member)">
        <mat-card-title>
            <ng-container *ngIf="member.image; else noImageParticipant">
                <img class="team-member-img" src="{{ member.image }}" alt="member" />
            </ng-container>
            <ng-template #noImageParticipant>
                <img class="team-member-img" src="assets/header/avatar-icon.png" alt="member" />
            </ng-template>
            <div class="team-member-name">
                <h3>{{ member.name }}</h3>
            </div>
        </mat-card-title>
    </mat-card>
</div>
