<div class="title">
    <h1>Please, choose Team member for meeting</h1>
</div>
<div class="members-container">
    <div *ngFor="let member of slotMembers" class="member-cards-container">
        <div class="team-member-card" (click)="selectMember(member)">
            <ng-container *ngIf="member.image; else noImageParticipant">
                <img class="team-member-img" src="{{ member.image }}" alt="member" />
            </ng-container>
            <ng-template #noImageParticipant>
                <img class="team-member-img" src="assets/header/avatar-icon.png" alt="member" />
            </ng-template>
            <div class="team-member-name">
                <h3>{{ member.name }}</h3>
            </div>
        </div>
    </div>
</div>
