@import '../../../../styles/color-variables'
@import '../../../../styles/screen-variables'

h1, h3, h4
    font-family: 'Inter'
    font-style: normal
    line-height: 20px
    color: $pale-sky

h3, h4
    font-weight: 400
    font-size: 14px

h1
    font-weight: 700
    font-size: 20px

.member-cards-container
    display: inline-block
    width: 40%
    margin-right: 10%
    margin-bottom: 3%

::ng-deep .team-member-card.mat-card
    width: 100% !important
    height: 37px !important
    margin: 5px 20px !important
    padding-top: 20px !important
    padding-left: 20px !important
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16) !important
    border-radius: 4px !important
    .mat-card-title
        display: flex
        align-content: flex-start
        flex-direction: row
        .team-member-img
            width: 51px
            height: 51px
            margin-right: 5px
            margin-top: -7px
            img
                width: 100%
                height: 100%
                border-radius: 100%
        .team-member-name
            margin-top: 5px
        .team-member-checkbox
            margin-left: auto
            margin-top: 5px
            input[type="checkbox"]
                transform: scale(1.25)
                cursor: pointer

::ng-deep .team-member-card.mat-card:hover
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important

.upper-bar
    display: flex
    align-content: flex-start
    flex-direction: row
    height: 40%
    width: 100%
    @media screen and (max-width: $desktop-min-width)
        flex-direction: column
    @media screen and (max-width: $desktop-min-width)
        height: 60%
    .upper-bar-icon
        margin-left: 20px
        margin-right: 40px
        color: $pale-sky
        line-height: 45px
        cursor: pointer
    .nav-text
        h1
            line-height: 45px
    .nav-buttons
        margin-left: auto
        .cancel-btn-active
            background-color: $white
            color: $pale-sky
            border: 2px solid $loblolly
            border-radius: 4px
        .cancel-btn-active:hover
            background-color: $athens-gray
            border-color: $pale-sky
        .cancel-btn-inactive
            background-color: $loblolly
            color: $pale-sky
            border: 2px solid $loblolly
            border-radius: 4px
            cursor: default
        .next-btn
            border: 2px solid $royal-blue
            border-radius: 4px
        .next-btn:hover
            background-color: $dark-blue
            border-color: $dark-blue

::ng-deep .nav-button.mat-flat-button
    margin-left: 20px !important
