<div class="container">
    <div class="schedule-container">
        <div class="schedule-select-container">
            <p>Schedule</p>
            <div class="input">
                <ng-moment-timezone-picker
                    [(ngModel)]="scheduleValue.timeZone"
                    customPlaceholderText=""
                    [disabled]="disabled"
                    [getUserZone]="checkZone()">
                </ng-moment-timezone-picker>
            </div>
        </div>
        <mat-tab-group
            [disablePagination]="true"
            [disableRipple]="true"
            (selectedTabChange)="changeEvent.emit()"
            animationDuration="0ms"
            class="custom-mat-group">
            <mat-tab label="List View">
                <app-schedule-list-item
                    *ngFor="let item of scheduleValue.scheduleItems; index as i"
                    [disabled]="disabled"
                    [timeFormat]="timeFormat"
                    [item]="scheduleValue.scheduleItems[i]"
                    [itemChange]="changeEvent"
                    [displayDay]="displayDays[i]">
                </app-schedule-list-item>
            </mat-tab>
            <mat-tab label="Week View" *ngIf="!disabled">
                <app-schedule-week [items]="scheduleValue.scheduleItems" [itemChange]="changeEvent">
                </app-schedule-week>
            </mat-tab>
            <mat-tab label="Month View" *ngIf="!disabled"></mat-tab>
        </mat-tab-group>
    </div>
    <div class="override-container">
        <div class="override-heading-container">
            <span> Exclusion Dates </span>
            <mat-icon matTooltip="Specify exclusion dates for availability slot"> help_outline </mat-icon>
        </div>
        <button mat-flat-button [disabled]="disabled" (click)="showExclusionDatesWindow()">
            <i class="fa-regular fa-plus"></i>
            Add Exclusion Date(s)
        </button>
        <hr />
        <div class="exclusion-dates-container">
            <div
                class="exclusion-date-container"
                *ngFor="let exclusionDate of scheduleValue.exclusionDates; index as i">
                <div class="date-wrapper">
                    {{ exclusionDate.selectedDate | date: 'd MMM y' }}
                </div>
                <div class="times-wrapper">
                    <div class="time-wrapper" *ngFor="let dayTimeRange of exclusionDate.dayTimeRanges">
                        {{ formatTime(dayTimeRange.start) }}-{{ formatTime(dayTimeRange.end) }}
                    </div>
                </div>
                <i class="fa-regular fa-circle-xmark xmark fa-xl" (click)="deleteExclusionDate(i)"></i>
                <hr />
            </div>
        </div>
    </div>
</div>
