<div class="container">
    <div class="schedule-container">
        <div class="schedule-select-container">
            <p>Schedule</p>
            <div class="input">
                <ng-moment-timezone-picker
                    [(ngModel)]="scheduleValue.timeZone"
                    customPlaceholderText=""
                    [disabled]="disabled"
                    [getUserZone]="checkZone()">
                </ng-moment-timezone-picker>
            </div>
        </div>
        <mat-tab-group
            [disablePagination]="true"
            [disableRipple]="true"
            (selectedTabChange)="changeEvent.emit()"
            animationDuration="0ms"
            class="custom-mat-group">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>list</mat-icon>
                    List View
                </ng-template>
                <app-schedule-list-item
                    *ngFor="let item of scheduleValue.scheduleItems; index as i"
                    [disabled]="disabled"
                    [timeFormat]="timeFormat"
                    [item]="scheduleValue.scheduleItems[i]"
                    [itemChange]="changeEvent"
                    [displayDay]="displayDays[i]">
                </app-schedule-list-item>
            </mat-tab>
            <mat-tab *ngIf="!disabled">
                <ng-template mat-tab-label>
                    <mat-icon class="week-icon">tune</mat-icon>
                    Week View
                </ng-template>
                <app-schedule-week [items]="scheduleValue.scheduleItems" [itemChange]="changeEvent">
                </app-schedule-week>
            </mat-tab>
            <mat-tab *ngIf="!disabled">
                <ng-template mat-tab-label>
                    <mat-icon>calendar_today</mat-icon>
                    Month View
                </ng-template>
                <app-schedule-month [items]="scheduleValue.scheduleItems"></app-schedule-month>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="override-container">
        <div class="override-heading-container">
            <span> Exclusion Dates </span>
            <mat-icon matTooltip="Specify exclusion dates for availability slot"> help_outline </mat-icon>
        </div>
        <button mat-flat-button [disabled]="disabled" (click)="showExclusionDatesWindow()">
            <i class="fa-regular fa-plus"></i>
            Add Exclusion Date(s)
        </button>
        <hr />
        <app-exclusion-date [schedule]="scheduleValue"></app-exclusion-date>
    </div>
</div>
