.container
    display: flex
    flex-direction: row
    justify-content: space-between
    .weekday-container
        display: flex
        flex-direction: row
        gap: 10px
        width: 74px
    .dates-container
        display: flex
        flex-direction: row
        gap: 10px
        input
            width: 60px
