<div class="container">
    <mat-slide-toggle [(ngModel)]="item.isEnabled" (change)="onItemChange()"></mat-slide-toggle>
    <p>{{displayDay}}</p>
    <div class="dates-container">
        <input type="text" class="date-input" [value]="startValue" (change)="onDateChange($event, true)">
        <p>-</p>
        <input type="text" class="date-input" [value]="endValue" (change)="onDateChange($event, false)">
    </div>
    <button mat-icon-button>
        <mat-icon>add_circle_outline</mat-icon>
    </button>
</div>
