@import 'src/styles/color-variables.sass'
@import "src/styles/time-zone-picker"
@import 'src/styles/screen-variables.sass'

.calendar-header
    display: flex
    justify-content: space-between
    align-items: center
    height: 80px
    @media (max-width: $tablet-min-width)
        width: 100%
    .week-changer
        display: flex
        align-items: center
        .date-arrows
            display: flex
            color: $raven
        .week-range
            color: $midnight
            font-weight: 700

.time-zone-picker
    width: 300px
