@import url('https://rsms.me/inter/inter.css')
@import '../../../../styles/color-variables'

*
    font-family
        font-family: 'Inter', serif !important

.container
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow-y: scroll

.exclusion-wrapper
    z-index: 40
    box-sizing: border-box
    position: absolute
    top: 20%
    left: 50%
    transform: translate(-50%, 0)
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    padding: 32px
    gap: 32px
    width: 460px
    background: $white-color
    border: 1px solid #F1F3F9
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03)
    border-radius: 32px
    flex: none
    order: 4
    flex-grow: 0
    .title
        font-style: normal
        font-weight: 900
        font-size: 22px
        line-height: 146%
        color: $midnight
    .calendar
        width: 100%

.cancel, .apply
    box-sizing: border-box
    padding: 8px 24px
    gap: 8px
    width: 186px
    height: 48px
    border: 1px solid #94A4AD
    border-radius: 24px
    cursor: pointer

.cancel
    background: $white-color
.apply
    background: $midnight
    color: $white-color

hr
    border: 1px solid #E1E6EF
    width: 100%

.time-input
    border: 2px solid #D1D8DB
    border-radius: 8px
    width: 75px
    height: 36px
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 146%
    padding-left: 8px
    margin-left: 12px
    margin-right: 12px

input[type="time"]::-webkit-calendar-picker-indicator
    background: none

.input-container
    position: relative
    width: 100%
    min-height: 100px
    hr
        position: absolute
        bottom: 0

.add-time
    position: absolute
    right: 10%
    top: 3%
    color: $raven
    font-style: normal
    cursor: pointer

.buttons-wrapper
    display: flex
    flex-direction: row
    width: 100%
    justify-content: space-between

.xmark
    color: $raven
    cursor: pointer
    margin-left: 25px

.time-item
    display: flex
    align-items: center
    margin-top: 20px
    margin-bottom: 20px
