<div class="exclusion-wrapper">
    <p>
        Select Exclusion Dates:
    </p>
    <mat-calendar
        class="demo-inline-calendar-card"
        [(selected)]="selected"
        [minDate]="todayDate"
        [dateClass]="dateClass"
        [headerComponent]="customHeader"
    ></mat-calendar>
    <hr>
    <p>Selected date: {{selected}}</p>
    <hr>
    <div class="buttons-wrapper">
        <button class="cancel">
            Cancel
        </button>
        <button class="apply">
            Apply
        </button>
    </div>
</div>
