@import '../../../../../styles/color-variables'
@import '../../../../../styles/screen-variables'

*
    box-sizing: border-box
    font-size: 12px

.main-settings, .advanced-settings
    margin: 0 60px 30px 30px
    @media screen and ( max-width: $tablet-min-width)
        margin: 0 40px 30px 0

.inputs-grid
    width: 100%
    display: grid
    grid-template-columns: 50% 50%
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr))
    align-items: end
    justify-items: start
    @media screen and(max-width: $desktop-min-width)
        grid-template-columns: 100%

.input-container
    width: 100%
    margin: 20px 10px
    padding-left: 20px

select, input[type=text]
    width: 100%
    border: 2px solid $regent-gray
    border-radius: 4px
    height: 36px

input[type=text]
    padding-left: 5px

.input-description
    font-weight: bold
    margin-bottom: 5px

.show-advanced-container
    display: flex
    flex-direction: row
    margin: 20px 0 0 60px
    @media screen and ( max-width: $tablet-min-width)
        margin: 20px 0 0 30px
    .advanced-settings-label
        padding-top: 12px
        align-self: center
    mat-slide-toggle
        margin-top: 10px
        margin-right: 10px

.form-switch
    align-self: center
    margin-right: 5px

.mat-radio-button
    margin: 5px

.input-message
    display: inline-block
    width: 80%
    margin: 5px
    @media screen and(max-width: $desktop-min-width)
        width: 100%

.checkbox-container
    margin: 20px
    display: flex
    flex-direction: row
    align-items: center

.disabled
    opacity: 0.3

.error
    position: absolute
    color: $red

.ng-invalid:not(.ng-pristine)
    border-color: $red
