<div class="main-settings">
    <div class="inputs-grid">
        <div class="input-container">
            <p class="input-description">Slot size (Meeting Duration)</p>
            <div class="input">
                <select [(ngModel)]="settings.slotSize" name="slotSize">
                    <option *ngFor="let slotSize of slotSizes" [value]=slotSize>{{slotSize}} min</option>
                </select>
            </div>
        </div>
        <div class="input-container">
            <p class="input-description">Frequency of Available Slots</p>
            <div class="input">
                <select [(ngModel)]="settings.slotFrequency" name="slotFrequency">
                    <option *ngFor="let slotFrequency of slotsFrequencies"
                            [value]="slotFrequency">{{slotFrequency}} hours</option>
                </select>
            </div>
        </div>
        <div class="input-container">
            <p class="input-description">Meeting Name</p>
            <div class="input">
                <input [(ngModel)]="settings.meetingName" type="text" matInput />
            </div>
        </div>
        <div class="input-container">
            <p class="input-description">Meeting Location</p>
            <div class="input">
                <select [(ngModel)]="settings.meetingLocation" name="meetingLocation">
                    <option *ngFor="let meetingLocation of meetingLocations" [value]="meetingLocation">
                        {{ meetingLocation }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="show-advanced-container">
    <mat-slide-toggle [checked]="addAdvanced" (change)="addAdvanced = !addAdvanced"></mat-slide-toggle>
    <p class="advanced-settings-label">Advanced settings</p>
</div>
<div class="advanced-settings" [ngClass]="{ disabled: !addAdvanced }">
    <div class="inputs-grid">
        <div class="input-container">
            <p class="input-description">Slot Activity Time</p>
            <mat-radio-group [(ngModel)]="settings.slotActivityOption" [disabled]="!addAdvanced">
                <mat-radio-button *ngFor="let slotActivity of this.slotActivityOptionsEnums; index as i"
                                  [value]="slotActivity">{{this.slotActivityOptions[i]}}</mat-radio-button>
            </mat-radio-group>
            <div class="input">
                <input [(ngModel)]="settings.slotActivityValue" type="text" matInput />
            </div>
        </div>
        <div class="input-container">
            <p class="input-description">Max. Number of Bookings per One Slot</p>
            <div class="input">
                <input [(ngModel)]="settings.maxBookings" type="text" matInput [disabled]="!addAdvanced" />
            </div>
        </div>
        <div class="input-container">
            <p class="input-description">Paddings Before & After Meeting</p>
            <div class="input">
                <select [(ngModel)]="settings.meetingPadding" name="meetingPadding" [disabled]="!addAdvanced">
                    <option *ngFor="let meetingPadding of meetingPaddings"
                            [value]="meetingPadding">{{meetingPadding}} min</option>
                </select>
            </div>
        </div>
        <div class="input-container">
            <p class="input-description">Bookers can't schedule before Meeting start</p>
            <div class="input">
                <select [(ngModel)]="settings.minBookingMeetingDifference"
                        name="bookingMeetingDifference"
                        [disabled]="!addAdvanced">
                    <option *ngFor="let bookingMeetingDifference of minBookingMeetingDifferences"
                            [value]="bookingMeetingDifference">
                        {{bookingMeetingDifference}} hours
                    </option>
                </select>
            </div>
        </div>
        <div class="input-container">
            <p class="input-description">Availability Slots Card Color</p>
            <div class="colorsRow">
                <div class="colorButton" *ngFor="let colorInput of colorInputs" id="{{colorInput.id}}">
                    <input type="radio" name="color" value="{{colorInput.enumValue}}" [disabled]="!addAdvanced">
                </div>
            </div>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" [(ngModel)]="settings.hideFromCommon" [disabled]="!addAdvanced" />
            <span class="input-message">Hide this Availability Slots card from Common Booking Page</span>
        </div>
    </div>
</div>
