@import '../../../../../styles/color-variables'

*
    box-sizing: border-box
    font-size: 12px

.main-settings, .advanced-settings
    margin: 0 60px 30px 30px

.inputs-grid
    display: grid
    grid-template-columns: 50% 50%
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr))
    align-items: end
    justify-items: start

.input-container
    margin: 20px 30px

select, input[type=text]
    width: 100%
    height: 100%
    border: 0

.input
    border: 2px solid #BEC5D0
    border-radius: 4px
    height: 36px
    width: 327px

.input-description
    font-weight: bold
    margin-bottom: 5px

.show-advanced-container
    display: flex
    flex-direction: row
    margin: 20px 0 0 60px

.form-switch
    align-self: center
    margin-right: 5px

.mat-radio-button
    margin: 5px

.input-message
    display: inline-block
    width: 80%
    margin: 5px

.checkbox-container
    margin: 20px
    display: flex
    flex-direction: row
    align-items: center

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle
    border-color: $royal-blue

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle
    color: $royal-blue
    background-color: $royal-blue

.disabled
    opacity: 0.3
