@import '../../../../../styles/color-variables'

.container
    padding-left: 15px
    display: flex
    width: 100%
    .schedule-select-container
        display: flex
        justify-content: space-between
        align-items: center
        padding-bottom: 10px
        p
            margin: 0
            font-weight: bold
    .schedule-container
        width: 55%
        border-right: 1px solid $regent-gray
        padding-right: 25px

.input
    border: 1px solid $regent-gray
    border-radius: 4px
    height: 30px
    width: 200px

select
    width: 100%
    height: 100%
    border: 0
