<div class="container">
    <div class="schedule-container">
        <div class="schedule-select-container">
            <p>Schedule</p>
            <div class="input">
                <select [(ngModel)]="selectedTimeZone" (change)="changeTimeZone()">
                    <option *ngFor="let timeZone of timeZones.values()" [value]="timeZone">{{timeZone}}</option>
                </select>
            </div>
        </div>
        <app-schedule-list-item
            *ngFor="let item of schedule.scheduleItems; index as i"
            [(item)]="schedule.scheduleItems[i]"
            [displayDay]="displayDays[i]">
        </app-schedule-list-item>
    </div>
    <div class="override-container">
        <button mat-flat-button>+ Add Date overrides</button>
    </div>
</div>
