<app-header-item></app-header-item>
<div class="container">
    <div class="infoRow">
        <div class="item" style="justify-content: space-between">
            <div style="display: flex;flex-direction: column;gap: 10px">
                <span class="timeTitle">16:00 - 17:00</span>
                <p class="itemText">Meeting With Designers<br>30 Min, Heorhii Matviichuk</p>
            </div>

            <div class="buttonRow">
                <button class="buttonZoom">Open Zoom Link</button>
                <div style="display: flex;flex-direction: row;gap: 5px;cursor: pointer">
                    <div style="border: 2px solid #BEC5D0;border-radius: 50%"></div>
                    <div style="border: 2px solid #BEC5D0;border-radius: 50%"></div>
                    <div style="border: 2px solid #BEC5D0;border-radius: 50%"></div>
                </div>
            </div>
        </div>
        <div class="listScrollBlock">
            <div class="item" style="height: 180px;border: none">
                <span class="timeTitle">Jack White</span>
                <p class="itemText">adsasada@asdas.com </p>
                <p class="itemText">Eastern Europe (GMT -0:00)</p>
                <p class="listItemAnswers">Answers: 2/3</p>
                <p class="itemText">Booked: 19:21, 13 Aug, 2022 </p>
            </div>
        </div>
    </div>
    <div class="infoRow">
        <div class="item" style="justify-content: space-between">
            <div style="display: flex;flex-direction: column;gap: 10px">
                <span class="timeTitle">16:00 - 17:00</span>
                <p class="itemText">30 Min Meeting<br>30 Min, 2 Team Members</p>
            </div>

            <div class="buttonRow">
                <button class="buttonZoom">Open Zoom Link</button>
                <div style="display: flex;flex-direction: row;gap: 5px;cursor: pointer">
                    <div style="border: 2px solid #BEC5D0;border-radius: 50%"></div>
                    <div style="border: 2px solid #BEC5D0;border-radius: 50%"></div>
                    <div style="border: 2px solid #BEC5D0;border-radius: 50%"></div>
                </div>
            </div>
        </div>
        <div class="listScrollBlock">
            <div class="item" style=" border: none ">
                <span class="timeTitle">Jack White</span>
                <p class="itemText">adsasada@asdas.com </p>
                <p class="itemText">Eastern Europe (GMT -0:00)</p>
                <p class="listItemAnswers">Answers: 2/3</p>
                <p class="itemText">Booked: 19:21, 13 Aug, 2022 </p>
            </div>
            <div class="item" style=" border: none; ">
                <span class="timeTitle">Jack White</span>
                <p class="itemText">adsasada@asdas.com </p>
                <p class="itemText">Eastern Europe (GMT -0:00)</p>
                <p class="listItemAnswers">Answers: 2/3</p>
                <p class="itemText">Booked: 19:21, 13 Aug, 2022 </p>
            </div>
            <div class="item" style=" border: none ">
                <span class="timeTitle">Jack White</span>
                <p class="itemText">adsasada@asdas.com </p>
                <p class="itemText">Eastern Europe (GMT -0:00)</p>
                <p class="listItemAnswers">Answers: 2/3</p>
                <p class="itemText">Booked: 19:21, 13 Aug, 2022 </p>
            </div>
            <div class="item" style=" border: none">
                <span class="timeTitle">Jack White</span>
                <p class="itemText">adsasada@asdas.com </p>
                <p class="itemText">Eastern Europe (GMT -0:00)</p>
                <p class="listItemAnswers">Answers: 2/3</p>
                <p class="itemText">Booked: 19:21, 13 Aug, 2022 </p>
            </div>

        </div>
        <div class="moreBlock">
            21+ Booker
        </div>
    </div>
    <div class="infoRow">
        <div class="item" style="justify-content: space-between">
            <div style="display: flex;flex-direction: column;gap: 10px">
                <span class="timeTitle">16:00 - 17:00</span>
                <p class="itemText">Meeting With Designers<br>30 Min, Heorhii Matviichuk</p>
            </div>

            <div class="buttonRow">
                <button class="buttonZoom">Open Zoom Link</button>
                <div style="display: flex;flex-direction: row;gap: 5px;cursor: pointer">
                    <div style="border: 2px solid #BEC5D0;border-radius: 50%"></div>
                    <div style="border: 2px solid #BEC5D0;border-radius: 50%"></div>
                    <div style="border: 2px solid #BEC5D0;border-radius: 50%"></div>
                </div>
            </div>
        </div>
        <div class="listScrollBlock">
            <div class="item" style="height: 180px;border: none">
                <span class="timeTitle">Jack White</span>
                <p class="itemText">adsasada@asdas.com </p>
                <p class="itemText">Eastern Europe (GMT -0:00)</p>
                <p class="listItemAnswers">Answers: 2/3</p>
                <p class="itemText">Booked: 19:21, 13 Aug, 2022 </p>
            </div>
        </div>
    </div>
    <div class="infoRow">
        <div class="item" style="justify-content: space-between">
            <div style="display: flex;flex-direction: column;gap: 10px">
                <span class="timeTitle">16:00 - 17:00</span>
                <p class="itemText">Meeting With Designers<br>30 Min, Heorhii Matviichuk</p>
            </div>

            <div class="buttonRow">
                <button class="buttonZoom">Open Zoom Link</button>
                <div style="display: flex;flex-direction: row;gap: 5px;cursor: pointer">
                    <div style="border: 2px solid #BEC5D0;border-radius: 50%"></div>
                    <div style="border: 2px solid #BEC5D0;border-radius: 50%"></div>
                    <div style="border: 2px solid #BEC5D0;border-radius: 50%"></div>
                </div>
            </div>
        </div>
        <div class="listScrollBlock">
            <div class="item" style="height: 180px;border: none">
                <span class="timeTitle">Jack White</span>
                <p class="itemText">adsasada@asdas.com </p>
                <p class="itemText">Eastern Europe (GMT -0:00)</p>
                <p class="listItemAnswers">Answers: 2/3</p>
                <p class="itemText">Booked: 19:21, 13 Aug, 2022 </p>
            </div>
        </div>
    </div>
</div>
