<app-header-item></app-header-item>
<div class="container">
    <div class="bookings-container">
        <div *ngFor="let item of meetings">
            <div class="infoRow">
                <div class="item itemInfo">
                    <div class="itemTextInfo">
                        <div class="title-menu-row">
                            <span class="timeTitle">{{ item.meetingTime }}</span>
                            <button class="fas fa-ellipsis fa-xl menu-icon"  [matMenuTriggerFor]="menu"></button>
                            <mat-menu #menu="matMenu" class="drop-down-menu">
                                <button mat-menu-item class="btn edit">
                                    <i class="fa-solid fa-pen"></i>Edit
                                </button>
                                <button mat-menu-item class="btn delete" (click)="deleteBooking(item.id)">
                                    <i class="fa-solid fa-trash"></i>Delete
                                </button>
                            </mat-menu>
                        </div>

                        <p class="itemText">
                            {{ item.meetingTitle }}<br />{{ item.meetingDuration }}, {{ item.membersTitle }}
                        </p>
                    </div>

                    <div class="buttonRow">
                        <button class="buttonZoom" (click)="followMeetingLink(item.meetingLink)">Open {{ item.location }} Link</button>
                   </div>
                </div>

                <div class="listScrollBlock">
                    <div *ngFor="let user of item.meetingMembers">
                        <app-booker [booker]="user"></app-booker>
                    </div>
                </div>

                <div *ngIf="item.meetingCount > numberOfMembersToDisplay">
                    <div class="moreBlock" (click)="goToPage('/bookings/bookers/'+item.id)">{{ item.meetingCount - numberOfMembersToDisplay }}+ Booker</div>
                </div>
            </div>
        </div>
    </div>
</div>
