@import '../../../../styles/color-variables'

.container
    min-height: 100%

.bookings-container
    height: 100%
    padding: 32px 100px
    display: flex
    flex-direction: column
    gap: 24px

p, span
    margin: 0

*
    box-sizing: border-box

.timeTitle
    font-family: 'Inter'
    font-style: normal
    font-weight: 900
    font-size: 22px
    line-height: 146%

.meeting-title
    font-family: 'Inter'
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 146%

.item
    width: 20em
    background: white
    padding: 20px 29px
    display: flex
    flex-direction: column
    gap: 10px
    border-right: 1px solid rgba($pale-sky, .4)

.itemScroll
    height: 180px
    border: none

.itemInfo
    justify-content: space-between

.itemTextInfo
    display: flex
    flex-direction: column
    gap: 10px
    .title-menu-row
        display: flex
        justify-content: space-between
        align-items: center
        .menu-icon
            color: $raven
            outline: none
            border: none
            background-color: $white-color
            cursor: pointer
            width: 18px
            height: 18px

.buttonZoom
    width: 14em
    height: 2.4em
    cursor: pointer
    font-weight: 600

.buttonRow
    width: 100%
    display: flex
    flex-direction: row
    gap: 34px
    align-items: center
    justify-content: space-between

.itemText
    color: rgba($black, 0.5)
    margin: 0
    overflow: hidden
    text-overflow: ellipsis
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 136%

.listScrollBlock
    overflow-x: hidden
    height: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: stretch
    gap: 20px
    width: 100%

.moreBlock
    background: $athens-gray
    border-radius: 4px
    font-weight: 600
    font-size: 14px
    line-height: 24px
    display: flex
    align-items: center
    justify-content: center
    padding: 23px
    color: $pale-sky
    max-width: 116px
    height: 95%
    width: 100%
    text-align: center
    white-space: nowrap
    margin-top: 3.5px
    margin-bottom: 3.5px
    margin-right: 12px
    cursor: pointer

.infoRow
    background-color: white
    display: flex
    flex-direction: row
    width: 100%
    border: 1px solid #E1E6EF
    box-shadow: 0 12px 16px -4px rgba($pale-sky, 0.18), 0px 4px 6px -2px rgba($pale-sky, 0.13)
    border-radius: 32px
    justify-content: left
    margin-bottom: 20px
    overflow: auto
    resize: none

.bookings-header
    display: flex
    justify-content: space-between
    .date-label
        font-style: normal
        font-weight: 900
        font-size: 22px
        line-height: 40px
    .buttons-container
        display: flex

.header-buttons
    display: flex
    align-items: center

::ng-deep .header-buttons, .buttonRow
    .mat-flat-button.mat-primary
        background-color: $logo-color
        border-radius: 32px
        height: 40px

.bookers-container
    height: 100%

.day-input-wrapper
    display: flex
    gap: 10px
    align-items: center
    .day-input
        width: 70px
        justify-content: center
        border: 0
        &:focus-visible
            outline: 0

@media only screen and (max-width: 600px)
    .infoRow
        flex-direction: column

    .item
        border: none

    .moreBlock
        max-width: 100%
        width: 100%
