<div class="container">
    <div class="zoom-block">
        <p class="zoom-label">Zoom account</p>
        <button *ngIf="!email && isLoad" mat-flat-button (click)="connectZoom()">+ Connect Zoom</button>
        <div *ngIf="email && isLoad" class="connected-zoom">
            <div>
                <p>Connected by</p>
                <p>{{email}}</p>
            </div>
            <button mat-flat-button (click)="logoutZoom()">Disconnect</button>
        </div>
    </div>
    <div class="meet-block">
        <mat-select class="selectBlock" [(ngModel)]="selectedAccount">
            <mat-option *ngFor="let account of availableAccounts; index as i" [value]="availableAccounts[i].userEmail">
                {{availableAccounts[i].userEmail}}
            </mat-option>
        </mat-select>
        <button (click)="changeMeetAccount()">Save</button>
    </div>
</div>
