@import "src/styles/color-variables"

.container
    padding: 25px
    .zoom-label
        padding-bottom: 15px
        font-weight: bold
        font-size: 14px
    button
        border: 1px solid $dark-gray
        border-radius: 25px
        width: 200px

.connected-zoom
    display: flex
    justify-content: space-between
    align-items: center
    p
        margin: 5px 0 5px 0

.zoom-block
    height: 100px
