<div class="container">
    <div class="zoom-block">
        <p class="zoom-label">Zoom account</p>
        <button *ngIf="!email && isLoad" mat-flat-button (click)="connectZoom()">+ Connect Zoom</button>
        <div *ngIf="email && isLoad" class="connected-zoom">
            <div>
                <p>Connected by</p>
                <p>{{email}}</p>
            </div>
            <button mat-flat-button (click)="logoutZoom()">Disconnect</button>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="container">
    <div class="meet-block">
        <p class="zoom-label">Google Meet</p>
        <div class="connected-block" *ngIf="!!selectedAccount">
            <mat-select class="selectBlock" [(ngModel)]="selectedAccount.userEmail" (selectionChange)="changeMeetAccount()">
                <mat-option *ngFor="let account of availableAccounts; index as i" [value]="availableAccounts[i].userEmail">
                    {{availableAccounts[i].userEmail}}
                </mat-option>
            </mat-select>
            <p class="info-label">Account for meeting would be chosen automatically, depending on the calendar, where meeting was created</p>
        </div>
        <div class="not-connected-block" *ngIf="!selectedAccount">
            <p class="info-label">You have to have at least one calendar connected for google meet integration</p>
        </div>
    </div>
</div>
