<div class="container">
    <div class="team-info">
        <div class="avatar-container" (click)="goToPage(teamSlot.id)">
            <ng-container *ngIf="teamSlot.image; else noAvatarAvailabilityPage">
                <img class="avatar" src="{{ teamSlot.image }}" />
            </ng-container>
            <ng-template #noAvatarAvailabilityPage>
                <img class="avatar" src="assets/header/avatar-icon.png" />
            </ng-template>
        </div>
        <div class="team-name">
            <div>
                <p>{{ teamName }}</p>
            </div>
        </div>
    </div>
    <div class="availability-slot">
        <div *ngFor="let _slot of slots">
            <app-slot
                (isDeleted)="isDeleted($event)"
                (isChangedActivity)="isChangedActivity($event)"
                [slot]="_slot"
                [hasOwner]="false"></app-slot>
        </div>
    </div>
</div>
