@import '../../../../styles/color-variables'
@import 'src/styles/screen-variables.sass'

.container
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: 33% 67%

.availability-slot
    display: grid
    grid-gap: 32px
    padding-bottom: 1.2em

@media (min-device-width: $phone-min-width)
    .team-name p
        font-size: 24px

@media (min-device-width: $tablet-min-width)
    .availability-slot
        grid-template-columns: repeat(2, 1fr)
    .team-name p
        font-size: 28px

@media (min-device-width: $desktop-min-width)
    .availability-slot
        grid-template-columns: repeat(3, 1fr)
    .team-name p
        font-size: 32px

.team-info
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-top: 1em
    .team-name
        color: $regent-gray
        display: flex
        flex-direction: row
        justify-content: center
        margin-top: 1em
        p
            font-weight: 900
            color: $logo-color
            line-height: 150%

.copy-icon
    width: 30px
    height: 30px
    margin-left: 0.7em
    filter: invert(94%) sepia(3%) saturate(1127%) hue-rotate(185deg) brightness(88%) contrast(86%)
