<div class="container">
    <app-loading-spinner>
    </app-loading-spinner>
    <div class="team-info">
        <div class="team-name">
            <div><h3>{{teamSlots.team.name}}</h3></div>
            <div class="link">
                <img src="assets/copy_icon.png" class="copy-icon" />
                <a href="#">{{ teamSlots.team.pageLink }}</a>
            </div>
        </div>
    </div>
    <div class="availability-slot">
        <div *ngFor="let _slot of teamSlots.availabilitySlots">
            <app-slot [slot]="_slot"></app-slot>
        </div>
    </div>
</div>
