<div class="container">
    <div class="team-info">
        <div class="team-name">
            <div>
                <h3>{{ teamName }}</h3>
            </div>
            <img src="assets/copy_icon.png" class="copy-icon" />
        </div>
    </div>
    <div class="availability-slot">
        <div *ngFor="let _slot of slots">
            <app-slot
                (isDeleted)="isDeleted($event)"
                (isChangedActivity)="isChangedActivity($event)"
                [slot]="_slot"
                [hasOwner]="false"></app-slot>
        </div>
    </div>
</div>
