@import '../../../../../styles/color-variables'

.app-auth-card-wrapper
    padding: 10vh 0
    background: rgb(150,194,251)
    background: linear-gradient(133deg, rgba(150,194,251,1) 0%, rgba(218,223,237,1) 30%, rgba(247,219,165,1) 70%, rgba(255,194,202,1) 100%)
